#boton {
  position: absolute;
  z-index: 10;
  margin: 50px;
}

#reset-button {
  position: absolute;
  z-index: 10;
  margin: 10px;
}

#svg-container {
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid;
  border-color: #212121;
  border-radius: 0.5em;
  background-color: white;
}
