<div  id="svg-container"
    class="mat-elevation-z8"
    [ngClass]="{papu: 1 < 0}"
  >
  <button mat-raised-button id="reset-button" (click)="reset()">Reset</button>
  <!-- <mat-slider> -->
  <!--   <input matSliderThumb [value]="zoom"> -->
  <!-- </mat-slider> -->
   <!-- <svg id="panzoom-element" width="500" height="500"> -->
   <!--  <polygon points="100,10 40,198 190,78 10,78 160,198" -->
   <!--  style="fill:lime;stroke:purple;stroke-width:5;fill-rule:evenodd;"/> -->
 <svg
   width="210mm"
   height="297mm"
   viewBox="0 0 210 297"
   version="1.1"
   id="panzoom-element"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
   id="defs1182" />
  <g
   id="layer1">
  <path
     style="fill:#000000;stroke-width:0.264583"
     d="m 98.63713,272.72314 c -0.01289,-3.05594 0.02789,-5.29041 0.09062,-4.9655 l 0.114065,0.59075 1.305115,-0.66135 c 0.93484,-0.47372 1.30511,-0.56111 1.30511,-0.30802 0,0.19433 -0.38695,0.54591 -0.85989,0.78128 -0.801177,0.39873 0.33704,0.42911 16.6665,0.44488 17.24919,0.0166 17.53163,0.009 17.85688,-0.51225 0.41984,-0.67228 0.99693,-0.68481 0.99693,-0.0216 0,0.27914 0.0583,0.66609 0.12951,0.8599 0.17549,0.47745 -0.38156,1.2763 -0.56858,0.81539 -0.0738,-0.1819 -0.3624,-0.33073 -0.64131,-0.33073 -0.27892,0 -0.50712,-0.11906 -0.50712,-0.26458 0,-0.17388 -5.9639,-0.25878 -17.39636,-0.24767 -16.20966,0.0158 -17.337693,0.0461 -16.53645,0.44488 0.47294,0.23538 0.85989,0.58696 0.85989,0.78129 0,0.25267 -0.37511,0.16325 -1.31666,-0.31388 l -1.316666,-0.6672 -0.07907,4.56535 c -0.07751,4.47558 -0.07953,4.45608 -0.102513,-0.9909 z m 79.01491,0.92159 v -4.50238 l -1.32292,0.67038 c -0.94519,0.47896 -1.32291,0.56948 -1.32291,0.31704 0,-0.19433 0.38695,-0.54591 0.85989,-0.78129 0.80117,-0.39873 -0.33722,-0.42911 -16.66875,-0.44488 -17.35789,-0.0168 -17.52864,-0.0118 -17.52864,0.51225 0,0.80386 -0.74269,0.63424 -0.86883,-0.19844 l -0.11022,-0.7276 -0.0396,0.7276 c -0.0495,0.90877 -0.56881,0.96916 -0.56881,0.0662 0,-0.3638 -0.11907,-0.66146 -0.26459,-0.66146 -0.14552,0 -0.26458,0.31039 -0.26458,0.68977 0,0.47731 -0.11231,0.64666 -0.36463,0.54984 -0.20055,-0.077 -0.49021,-0.0143 -0.64368,0.13912 -0.15933,0.15932 -0.48531,0.18976 -0.75984,0.0709 -0.26444,-0.11445 -0.68917,-0.18231 -0.94383,-0.1508 -0.25466,0.0315 -0.46302,-0.0693 -0.46302,-0.22391 0,-0.15467 0.1732,-0.28122 0.38489,-0.28122 0.23039,0 0.45462,-0.37172 0.55861,-0.92604 0.15093,-0.80453 0.27402,-0.92604 0.93803,-0.92604 0.9084,0 0.98466,0.20011 0.1885,0.49464 l -0.5758,0.213 0.5758,0.15058 c 0.31669,0.0828 0.5758,0.0426 0.5758,-0.0892 0,-0.1319 0.53579,-0.23982 1.19063,-0.23982 0.65484,0 1.19062,0.11907 1.19062,0.26459 0,0.17391 6.05209,0.25878 17.66094,0.24766 16.4534,-0.0158 17.60215,-0.0462 16.80104,-0.44488 -0.47294,-0.23537 -0.85989,-0.58695 -0.85989,-0.78128 0,-0.25309 0.37027,-0.1657 1.30511,0.30802 l 1.30511,0.66135 0.11407,-0.59075 c 0.0627,-0.32491 0.13028,1.8798 0.15009,4.89936 0.0198,3.01955 -0.0235,5.4901 -0.0963,5.4901 -0.0728,0 -0.13229,-2.02607 -0.13229,-4.50237 z m -39.42292,-4.49346 c 0,-0.14552 -0.11906,-0.26459 -0.26458,-0.26459 -0.14552,0 -0.26458,0.11907 -0.26458,0.26459 0,0.14552 0.11906,0.26458 0.26458,0.26458 0.14552,0 0.26458,-0.11906 0.26458,-0.26458 z M 16.256209,147.04606 V 29.174194 h 82.153125 82.153126 v 48.154165 48.154161 h 6.48229 c 5.58565,0 6.48229,0.0549 6.48229,0.39688 0,0.34198 -0.89664,0.39687 -6.48229,0.39687 h -6.48229 v 69.32083 69.32083 h -26.32604 -26.32605 v -1.4552 -1.45521 h 24.87084 24.87083 v -3.83646 -3.83646 h -22.48958 -22.48959 v -23.8125 -23.8125 h -5.1252 -5.1252 l -0.17891,1.5814 c -0.24881,2.19916 -0.82258,4.02437 -2.02636,6.44591 -2.15936,4.34383 -5.34373,7.52441 -9.7027,9.69112 -2.73857,1.36127 -4.50128,1.85689 -7.27652,2.04594 l -2.3151,0.15771 v -9.96104 -9.96104 h -1.190629 -1.190625 v 14.41979 14.41979 h 8.069794 8.06979 v 2.64584 2.64583 h 0.66146 c 0.62538,0 0.66145,0.0794 0.66145,1.45521 0,1.37583 -0.0361,1.45521 -0.66145,1.45521 h -0.66146 v 5.15937 5.15938 h 0.66146 c 0.62538,0 0.66145,0.0794 0.66145,1.45521 0,1.37583 -0.0361,1.4552 -0.66145,1.4552 -0.65914,0 -0.66146,0.009 -0.66146,2.51355 v 2.51354 h 6.48229 6.48229 v 1.45521 1.4552 H 71.951001 16.256209 Z M 154.36871,264.12418 c 0,-0.52204 -0.17639,-0.52916 -13.09688,-0.52916 -12.92048,0 -13.09687,0.007 -13.09687,0.52916 0,0.52204 0.17639,0.52917 13.09687,0.52917 12.92049,0 13.09688,-0.007 13.09688,-0.52917 z m 0,-1.32291 c 0,-0.52204 -0.17639,-0.52917 -13.09688,-0.52917 -12.92048,0 -13.09687,0.007 -13.09687,0.52917 0,0.52204 0.17639,0.52916 13.09687,0.52916 12.92049,0 13.09688,-0.007 13.09688,-0.52916 z M 20.224959,248.77835 v -13.22917 h 13.361458 13.361459 v 13.22917 c 0,13.05278 0.0071,13.22917 0.529166,13.22917 0.517409,0 0.529167,-0.17639 0.529167,-7.9375 v -7.9375 h 8.069792 8.069791 v 7.9375 7.9375 h 6.482292 6.482292 V 238.32731 214.6471 h -3.01829 c -2.722772,0 -3.14624,0.0664 -4.325096,0.678 -1.027716,0.5332 -1.691407,0.67799 -3.107656,0.67799 -1.416248,0 -2.07994,-0.14479 -3.107656,-0.67799 -0.71874,-0.3729 -1.701548,-0.678 -2.184011,-0.678 -0.482462,0 -1.46527,0.3051 -2.184011,0.678 -1.027715,0.5332 -1.691407,0.67799 -3.107655,0.67799 -1.416249,0 -2.07994,-0.14479 -3.107656,-0.67799 -1.131326,-0.58696 -1.641044,-0.678 -3.795929,-0.678 h -2.489124 v -3.96875 -3.96875 h -1.817907 -1.817909 l -0.178914,1.5814 c -0.248807,2.19916 -0.822585,4.02437 -2.026359,6.44591 -2.15936,4.34383 -5.343734,7.52441 -9.7027,9.69112 -2.738567,1.36127 -4.501279,1.85689 -7.276523,2.04594 l -2.315104,0.15771 v -9.96104 -9.96104 h -1.190625 -1.190625 v 15.69927 c 0,24.2882 0.272424,39.59865 0.704592,39.59865 0.290549,0 0.353741,-2.36325 0.353741,-13.22917 z m 26.458333,0.13229 V 235.81377 H 33.586417 20.489542 v 13.09687 13.09688 h 13.096875 13.096875 z m -24.959027,11.86215 c -0.307832,-0.30783 -0.190629,-1.06991 0.216511,-1.40781 0.335153,-0.27815 0.391661,-1.80482 0.384466,-10.38703 -0.0084,-10.03635 -0.007,-10.06248 0.579262,-10.68652 l 0.587696,-0.62558 h 10.094217 10.094217 l 0.575289,0.61237 c 0.56983,0.60655 0.575286,0.70775 0.575286,10.6695 v 10.05714 l -0.625575,0.5877 c -0.624044,0.58625 -0.650177,0.58767 -10.686527,0.57926 -8.582204,-0.007 -10.108878,0.0493 -10.38703,0.38446 -0.337896,0.40714 -1.099981,0.52435 -1.407812,0.21651 z m 1.689937,-1.29489 c 0.50149,-0.51816 1.709136,-1.48735 2.683659,-2.15375 0.974523,-0.6664 1.835027,-1.37624 1.912227,-1.57743 0.182229,-0.47488 -0.784873,-1.44198 -1.259752,-1.25975 -0.201186,0.0772 -0.911029,0.93771 -1.577429,1.91223 -0.666401,0.97452 -1.635588,2.18217 -2.153751,2.68366 -0.917024,0.88751 -1.162309,1.33716 -0.729433,1.33716 0.116975,0 0.62299,-0.42396 1.124479,-0.94212 z m 20.417763,-0.322 0.602369,-0.60267 v -9.64259 -9.64259 l -0.602663,-0.60266 -0.602662,-0.60266 h -9.642592 -9.642592 l -0.602662,0.60236 c -0.601199,0.6009 -0.602847,0.62494 -0.678716,9.89874 -0.04625,5.65316 0.02285,9.39527 0.176315,9.54874 0.224615,0.22462 0.8268,-0.49782 3.011294,-3.6126 0.423031,-0.60319 1.67322,-0.65336 2.236809,-0.0898 0.563586,0.56359 0.513413,1.81378 -0.08977,2.23681 -2.901613,2.03499 -3.800129,2.77048 -3.660522,2.99637 0.10713,0.17334 3.441343,0.24015 9.528906,0.19092 9.344525,-0.0756 9.365374,-0.077 9.966486,-0.67839 z m -3.325373,-17.2114 c -0.854427,-0.94413 -0.204841,-2.42657 1.063297,-2.42657 0.664715,0 1.409237,0.7931 1.409237,1.50118 0,1.2121 -1.653138,1.83081 -2.472534,0.92539 z m 23.374617,12.25781 v -7.80521 h -7.805208 -7.805209 v 7.80521 7.80521 h 7.805209 7.805208 z m -10.186458,4.98432 c -2.014837,-1.0622 -3.042709,-2.74685 -3.042709,-4.98692 0,-3.18613 2.236304,-5.42136 5.423959,-5.42136 3.188851,0 5.423958,2.23511 5.423958,5.42396 0,2.2277 -1.022371,3.92378 -2.966021,4.92054 -1.218298,0.62478 -3.712684,0.65765 -4.839187,0.0638 z m 3.897751,-0.20971 c 0.893035,-0.18787 2.475133,-1.54661 3.01383,-2.58834 0.479787,-0.9278 0.52959,-3.35839 0.08645,-4.21887 -0.463971,-0.90093 -1.599719,-2.06 -2.457373,-2.50784 -0.413055,-0.21568 -1.384787,-0.39215 -2.159405,-0.39215 -0.774618,0 -1.746351,0.17647 -2.159405,0.39215 -0.857655,0.44784 -1.993403,1.60691 -2.457373,2.50784 -0.443143,0.86048 -0.39334,3.29107 0.08645,4.21887 0.504719,0.97603 2.101654,2.39593 2.881537,2.56211 1.597078,0.34029 1.66959,0.3409 3.165295,0.0262 z M 95.631209,234.35856 V 206.7096 h -2.186218 c -2.013415,0 -2.206863,0.0471 -2.447395,0.59531 -0.210352,0.47947 -0.582981,0.64297 -1.914824,0.84019 -1.334752,0.19766 -1.653646,0.33797 -1.653646,0.72761 0,0.42751 0.245104,0.48273 2.142826,0.48273 2.414018,0 3.632798,0.42868 4.390117,1.54414 0.45003,0.66286 0.478515,1.77582 0.478515,18.69648 0,17.66945 -0.01011,18.02106 -0.563732,19.63299 -0.755753,2.20039 -2.212284,4.13549 -3.628924,4.82128 -0.912538,0.44175 -1.643325,0.54885 -3.744844,0.54885 -2.101519,0 -2.832306,-0.1071 -3.744844,-0.54885 -1.41664,-0.68579 -2.873171,-2.62089 -3.628924,-4.82128 -0.553635,-1.61193 -0.563732,-1.96354 -0.563732,-19.63299 0,-16.92066 0.02849,-18.03362 0.478515,-18.69648 0.757319,-1.11546 1.976099,-1.54414 4.390117,-1.54414 1.897722,0 2.142826,-0.0552 2.142826,-0.48273 0,-0.38964 -0.318894,-0.52995 -1.653645,-0.72761 -1.331844,-0.19722 -1.704473,-0.36072 -1.914824,-0.84019 -0.240533,-0.54825 -0.433981,-0.59531 -2.447396,-0.59531 h -2.186218 v 27.64896 27.64896 h 9.128125 9.128125 z m 17.462501,14.55208 v -13.09687 h -7.14375 -7.143751 v 13.09687 13.09688 h 7.143751 7.14375 z m 1.32291,6.61459 c 0,-6.30591 -0.0144,-6.4823 -0.52916,-6.4823 -0.51477,0 -0.52917,0.17639 -0.52917,6.4823 0,6.3059 0.0144,6.48229 0.52917,6.48229 0.51477,0 0.52916,-0.17639 0.52916,-6.48229 z m 1.32292,0 c 0,-1.01424 -0.0784,-1.19063 -0.52917,-1.19063 -0.45077,0 -0.52916,0.17639 -0.52916,1.19063 0,1.01423 0.0784,1.19062 0.52916,1.19062 0.45077,0 0.52917,-0.17639 0.52917,-1.19062 z m -24.988531,-2.38784 c 1.321692,-1.07072 2.428597,-3.10196 2.898156,-5.31828 0.563769,-2.661 0.580231,-34.86126 0.01852,-36.20564 -0.541068,-1.29494 -1.572324,-1.72887 -4.108754,-1.72887 h -2.129806 v 1.0367 c 0,1.42948 -0.219557,1.87372 -0.926042,1.87372 -0.706485,0 -0.926042,-0.44424 -0.926042,-1.87372 v -1.0367 h -2.129805 c -1.41581,0 -2.398485,0.13894 -2.931261,0.41445 -1.571183,0.81249 -1.553959,0.60168 -1.548924,18.95778 0.005,18.20285 0.062,19.03992 1.473161,21.63269 1.48214,2.72318 2.50413,3.22448 6.369952,3.12454 2.840471,-0.0734 2.990535,-0.10681 3.940844,-0.87667 z m -5.173967,-37.96112 c -0.600215,-0.60022 -0.644374,-0.87785 -0.255275,-1.60489 0.189056,-0.35326 0.554964,-0.51178 1.181317,-0.51178 0.870448,0 1.455208,0.52461 1.455208,1.30553 0,0.41976 -0.999458,1.34031 -1.455208,1.34031 -0.218281,0 -0.635,-0.23813 -0.926042,-0.52917 z m 91.810418,22.48958 v -16.40416 h -22.225 -22.225 v 16.40416 16.40417 h 22.225 22.225 z m -62.97084,4.63021 c 0,-6.3059 -0.0144,-6.48229 -0.52916,-6.48229 -0.51477,0 -0.52917,0.17639 -0.52917,6.48229 0,6.3059 0.0144,6.48229 0.52917,6.48229 0.51477,0 0.52916,-0.17639 0.52916,-6.48229 z M 17.579126,230.38981 c 0,-15.56632 -0.0059,-15.74271 -0.529167,-15.74271 -0.523238,0 -0.529167,0.17639 -0.529167,15.74271 0,15.56632 0.0059,15.74271 0.529167,15.74271 0.523238,0 0.529167,-0.17639 0.529167,-15.74271 z m 1.322916,0 c 0,-15.56632 -0.0059,-15.74271 -0.529166,-15.74271 -0.523238,0 -0.529167,0.17639 -0.529167,15.74271 0,15.56632 0.0059,15.74271 0.529167,15.74271 0.523237,0 0.529166,-0.17639 0.529166,-15.74271 z m 96.837498,11.90625 c 0,-1.01424 -0.0784,-1.19063 -0.52917,-1.19063 -0.45077,0 -0.52916,0.17639 -0.52916,1.19063 0,1.01423 0.0784,1.19062 0.52916,1.19062 0.45077,0 0.52917,-0.17639 0.52917,-1.19062 z m -89.008467,-16.8071 c 7.55948,-1.93326 13.250406,-7.62418 15.183663,-15.18366 0.294373,-1.15106 0.535223,-2.72864 0.535223,-3.50573 v -1.41288 H 32.298119 22.14628 l -0.163999,0.99218 c -0.0902,0.54571 -0.165308,5.18914 -0.16691,10.31875 l -0.0029,9.32657 h 1.412885 c 0.777087,0 2.354665,-0.24086 3.505729,-0.53523 z m 79.374997,0 c 7.55948,-1.93326 13.25041,-7.62418 15.18366,-15.18366 0.29438,-1.15106 0.53523,-2.72864 0.53523,-3.50573 v -1.41288 h -10.31875 -10.31875 v 10.31875 10.31875 h 1.41288 c 0.77709,0 2.35467,-0.24086 3.50573,-0.53523 z m 71.28139,-7.66686 v -3.175 h -22.225 -22.225 v 3.175 3.175 h 22.225 22.225 z M 59.116505,214.76137 c 1.693871,-0.99184 1.973308,-1.66716 2.079953,-5.02668 l 0.09603,-3.02509 h -5.216485 -5.216486 l 0.09603,3.02509 c 0.08149,2.5669 0.180166,3.13795 0.651526,3.77031 1.52654,2.04793 5.12844,2.65055 7.509436,1.25637 z m -4.199313,-0.15902 c -1.493978,-0.26295 -2.369399,-0.84897 -2.80076,-1.87488 -0.638218,-1.51787 0.476975,-3.16626 2.384136,-3.52405 0.755645,-0.14176 0.896208,-0.28724 0.965346,-0.99914 0.06709,-0.6908 0.193982,-0.83322 0.742378,-0.83322 0.546468,0 0.675384,0.14294 0.741556,0.8222 0.06829,0.70099 0.231958,0.86769 1.110284,1.13084 2.393913,0.71724 2.877823,3.6786 0.784207,4.79907 -0.873882,0.46769 -2.715641,0.69242 -3.927147,0.47918 z m 3.808084,-1.1238 c 1.396252,-0.91486 1.340681,-2.2563 -0.135181,-3.26322 -1.226756,-0.83697 -1.542438,-0.76049 -1.638226,0.39688 -0.07118,0.86004 -0.170211,0.99218 -0.743577,0.99218 -0.573365,0 -0.672393,-0.13214 -0.743577,-0.99218 -0.06181,-0.74681 -0.199361,-0.99219 -0.556183,-0.99219 -0.662249,0 -2.180704,1.08372 -2.409671,1.71979 -0.816039,2.26693 3.675909,3.8099 6.226415,2.13874 z m -2.2524,-2.66791 c 0,-0.21828 -0.119063,-0.39687 -0.264584,-0.39687 -0.14552,0 -0.264583,0.17859 -0.264583,0.39687 0,0.21829 0.119063,0.39688 0.264583,0.39688 0.145521,0 0.264584,-0.17859 0.264584,-0.39688 z m 0,-1.98437 c 0,-0.58208 -0.119063,-1.05833 -0.264584,-1.05833 -0.14552,0 -0.264583,0.47625 -0.264583,1.05833 0,0.58208 0.119063,1.05833 0.264583,1.05833 0.145521,0 0.264584,-0.47625 0.264584,-1.05833 z m 13.226962,5.9351 c 1.693871,-0.99184 1.973308,-1.66716 2.079954,-5.02668 l 0.09603,-3.02509 h -5.216485 -5.216485 l 0.09603,3.02509 c 0.08149,2.5669 0.180165,3.13795 0.651526,3.77031 1.52654,2.04793 5.128439,2.65055 7.509435,1.25637 z m -4.199313,-0.15902 c -1.493977,-0.26295 -2.369399,-0.84897 -2.80076,-1.87488 -0.638217,-1.51787 0.476975,-3.16626 2.384137,-3.52405 0.755644,-0.14176 0.896207,-0.28724 0.965345,-0.99914 0.06709,-0.6908 0.193982,-0.83322 0.742379,-0.83322 0.546468,0 0.675383,0.14294 0.741555,0.8222 0.06829,0.70099 0.231958,0.86769 1.110285,1.13084 2.393913,0.71724 2.877822,3.6786 0.784206,4.79907 -0.873882,0.46769 -2.715641,0.69242 -3.927147,0.47918 z m 3.808085,-1.1238 c 1.396251,-0.91486 1.34068,-2.2563 -0.135181,-3.26322 -1.226757,-0.83697 -1.542439,-0.76049 -1.638226,0.39688 -0.07118,0.86004 -0.170212,0.99218 -0.743577,0.99218 -0.573366,0 -0.672394,-0.13214 -0.743577,-0.99218 -0.06181,-0.74681 -0.199361,-0.99219 -0.556184,-0.99219 -0.662249,0 -2.180703,1.08372 -2.409671,1.71979 -0.816039,2.26693 3.675909,3.8099 6.226416,2.13874 z m -2.252401,-2.66791 c 0,-0.21828 -0.119062,-0.39687 -0.264583,-0.39687 -0.145521,0 -0.264584,0.17859 -0.264584,0.39687 0,0.21829 0.119063,0.39688 0.264584,0.39688 0.145521,0 0.264583,-0.17859 0.264583,-0.39688 z m 0,-1.98437 c 0,-0.58208 -0.119062,-1.05833 -0.264583,-1.05833 -0.145521,0 -0.264584,0.47625 -0.264584,1.05833 0,0.58208 0.119063,1.05833 0.264584,1.05833 0.145521,0 0.264583,-0.47625 0.264583,-1.05833 z m -15.976862,4.9041 c -0.333557,-0.50907 -0.427305,-1.35077 -0.427305,-3.83646 v -3.18431 h -1.852083 -1.852083 v 3.83646 3.83646 h 2.279388 2.279388 z m 10.685195,0.12298 c -0.15576,-0.29104 -0.334354,-0.52916 -0.396875,-0.52916 -0.06252,0 -0.241114,0.23812 -0.396875,0.52916 -0.24906,0.46537 -0.201213,0.52917 0.396875,0.52917 0.598088,0 0.645936,-0.0638 0.396875,-0.52917 z m 15.345834,-3.30729 v -3.83646 h -2.513542 -2.513542 v 3.18431 c 0,2.48569 -0.09375,3.32739 -0.427304,3.83646 l -0.427305,0.65215 h 2.940846 2.940847 z m 57.679164,0.94494 c 0,-2.27587 0.0885,-2.98004 0.41577,-3.30729 0.36055,-0.36055 1.53359,-0.41577 8.83115,-0.41577 7.49812,0 8.45495,0.0476 8.7785,0.43667 0.24412,0.29357 0.39247,1.3774 0.45268,3.30729 l 0.0896,2.87062 h 1.80527 1.80526 l 0.0896,-2.87062 c 0.0602,-1.92989 0.20855,-3.01372 0.45268,-3.30729 0.32355,-0.38908 1.28037,-0.43667 8.7785,-0.43667 7.29755,0 8.47059,0.0552 8.83114,0.41577 0.32725,0.32725 0.41577,1.03142 0.41577,3.30729 v 2.89152 h 0.92605 0.92604 v -3.83646 -3.83646 h -22.225 -22.225 v 3.83646 3.83646 h 0.92604 0.92604 z m 17.99167,0.24569 c 0,-3.96308 0.59982,-3.70417 -8.58174,-3.70417 -4.24798,0 -7.81887,0.11234 -8.20208,0.25803 -0.67188,0.25545 -0.67868,0.28729 -0.67868,3.175 v 2.91697 h 8.73125 8.73125 z m 22.225,-0.27114 c 0,-2.88771 -0.007,-2.91955 -0.67869,-3.175 -0.3832,-0.14569 -3.9541,-0.25803 -8.20208,-0.25803 -9.18156,0 -8.58173,-0.25891 -8.58173,3.70417 v 2.64583 h 8.73125 8.73125 z m -88.162467,-1.64709 c -0.04366,-1.4045 -0.188822,-2.4474 -0.340659,-2.4474 -0.151836,0 -0.297,1.0429 -0.340659,2.4474 -0.06475,2.0831 -0.01405,2.44739 0.340659,2.44739 0.354703,0 0.405408,-0.36429 0.340659,-2.44739 z m -1.063519,-2.57969 c 0.318804,-0.51049 0.264237,-0.52917 -1.545905,-0.52917 -1.360927,0 -1.846757,0.0889 -1.768562,0.32343 0.124489,0.37348 1.04186,0.67058 2.187744,0.70853 0.529505,0.0175 0.90696,-0.1509 1.126723,-0.50279 z m 4.010536,0.29706 c 0.353012,-0.0986 0.690356,-0.32491 0.749651,-0.5028 0.07819,-0.23458 -0.407635,-0.32343 -1.768562,-0.32343 -1.810141,0 -1.864709,0.0187 -1.545905,0.52917 0.341072,0.54614 1.283055,0.65524 2.564816,0.29706 z m -47.076218,-2.94289 c 0,-0.52024 -0.176389,-0.52917 -10.451041,-0.52917 -10.274653,0 -10.451042,0.009 -10.451042,0.52917 0,0.52023 0.176389,0.52916 10.451042,0.52916 10.274652,0 10.451041,-0.009 10.451041,-0.52916 z m 79.374998,0 c 0,-0.52024 -0.17639,-0.52917 -10.45104,-0.52917 -10.27465,0 -10.45104,0.009 -10.45104,0.52917 0,0.52023 0.17639,0.52916 10.45104,0.52916 10.27465,0 10.45104,-0.009 10.45104,-0.52916 z m 15.08125,-13.89063 V 177.60544 H 78.301001 19.431209 v 13.09687 13.09688 h 58.869792 58.869789 z m 40.48125,9.92188 v -3.175 h -2.11667 -2.11666 v -1.19063 -1.19062 h -1.33606 c -0.73483,0 -1.68176,0.17877 -2.10429,0.39727 -1.12451,0.5815 -3.36244,0.84452 -5.02632,0.59072 -5.75498,-0.87783 -7.29455,-7.06367 -2.4628,-9.89526 1.61629,-0.94721 4.87556,-1.17764 6.69613,-0.47341 0.65485,0.25331 1.87524,0.51363 2.71198,0.57849 l 1.52136,0.11794 v -1.21413 -1.21412 h 2.11666 2.11667 v -3.175 -3.175 h -18.65312 -18.65313 v 1.19062 1.19063 h 9.79789 c 8.92401,0 9.81307,0.0396 9.96812,0.44362 0.28706,0.74807 -0.42947,4.77265 -1.25,7.02095 -1.93555,5.30355 -5.98074,9.69243 -11.17259,12.12186 -1.87436,0.87707 -5.40175,1.84482 -6.72428,1.84482 -0.87099,0 -0.88372,0.0172 -0.88372,1.19062 v 1.19063 h 18.78541 18.78542 z m -39.15833,-9.92188 c 0,-9.11342 -0.0508,-10.45104 -0.39688,-10.45104 -0.34608,0 -0.39687,1.33762 -0.39687,10.45104 0,9.11343 0.0508,10.45104 0.39687,10.45104 0.34608,0 0.39688,-1.33761 0.39688,-10.45104 z m 5.43243,9.65513 c 8.46882,-2.16596 14.82688,-9.61224 15.64287,-18.32023 l 0.16735,-1.78594 h -10.35674 -10.35675 v 10.31875 10.31875 h 1.41289 c 0.77709,0 2.34776,-0.2391 3.49038,-0.53133 z M 17.579126,190.70231 c 0,-6.76157 -0.05307,-7.80521 -0.396875,-7.80521 -0.343809,0 -0.396875,1.04364 -0.396875,7.80521 0,6.76158 0.05307,7.80521 0.396875,7.80521 0.343809,0 0.396875,-1.04363 0.396875,-7.80521 z m 1.322916,0 c 0,-6.76157 -0.05307,-7.80521 -0.396875,-7.80521 -0.343808,0 -0.396875,1.04364 -0.396875,7.80521 0,6.76158 0.05307,7.80521 0.396875,7.80521 0.343809,0 0.396875,-1.04363 0.396875,-7.80521 z m 158.353128,0 v -6.35 h -1.7198 -1.71979 l -0.0713,6.07969 c -0.0392,3.34383 -0.011,6.23682 0.0627,6.42886 0.096,0.25007 0.60429,0.32679 1.79106,0.27031 l 1.65707,-0.0789 z m -8.42865,4.59349 c 1.29261,-0.33117 2.84813,-1.5389 3.42913,-2.66242 0.22737,-0.43969 0.41341,-1.30867 0.41341,-1.93107 0,-2.80632 -2.73529,-4.98298 -6.26181,-4.98298 -3.52653,0 -6.26181,2.17666 -6.26181,4.98298 0,2.45872 1.81067,4.25159 4.93889,4.89035 1.11754,0.22819 1.95086,0.16208 3.74219,-0.29686 z m -3.91785,-1.29551 c -3.45487,-0.5865 -4.35379,-4.32549 -1.46361,-6.08775 1.03571,-0.63151 3.56237,-0.69962 4.67176,-0.12593 1.20588,0.62359 1.8623,1.65131 1.8623,2.9157 0,2.29077 -2.27748,3.77212 -5.07045,3.29798 z m 2.8215,-0.78778 c 0.29104,-0.11028 0.73396,-0.42798 0.98427,-0.70599 0.44036,-0.48909 0.42528,-0.502 -0.46494,-0.39807 -1.18322,0.13814 -2.23913,-0.52495 -2.23913,-1.40614 0,-0.88253 1.05581,-1.54428 2.24278,-1.40571 l 0.92371,0.10783 -0.54667,-0.5819 c -1.92972,-2.05409 -6.3769,-0.74315 -6.3769,1.87978 0,2.23977 2.80171,3.52387 5.47688,2.5102 z m 5.68854,-2.5102 v -4.10104 h -1.0708 -1.07081 l 0.87237,1.08554 c 0.80782,1.00522 0.87236,1.22833 0.87236,3.0155 0,1.78717 -0.0645,2.01028 -0.87236,3.0155 l -0.87237,1.08554 h 1.07081 1.0708 z m -121.807206,-13.97994 -1.818664,-0.55649 1.818664,-0.5757 1.818663,-0.5757 -8.135937,-0.0274 -8.135938,-0.0274 v 1.19063 1.19062 l 8.135938,-0.031 8.135937,-0.031 z m 20.736372,-0.57214 v -1.19063 h -8.863542 c -7.702314,0 -8.863542,0.052 -8.863542,0.39688 0,0.34396 1.058334,0.39687 7.9375,0.39687 6.879167,0 7.9375,0.0529 7.9375,0.39688 0,0.34396 -1.058333,0.39687 -7.9375,0.39687 -6.879166,0 -7.9375,0.0529 -7.9375,0.39688 0,0.34488 1.161228,0.39687 8.863542,0.39687 h 8.863542 z m 45.243744,0.79375 c 0,-0.34411 -1.07303,-0.39688 -8.06979,-0.39688 -6.99676,0 -8.06979,-0.0528 -8.06979,-0.39687 0,-0.34411 1.07303,-0.39688 8.06979,-0.39688 6.99676,0 8.06979,-0.0528 8.06979,-0.39687 0,-0.34488 -1.16122,-0.39688 -8.86354,-0.39688 h -8.863538 v 1.19063 1.19062 h 8.863538 c 7.70232,0 8.86354,-0.052 8.86354,-0.39687 z m 17.99167,-0.79375 v -1.19063 l -8.26823,0.0207 -8.26823,0.0207 1.67622,0.58264 1.67623,0.58263 -1.67623,0.563 -1.67622,0.563 8.26823,0.0243 8.26823,0.0243 v -1.19063 z M 73.141626,163.18565 v -11.50938 h -3.96875 -3.96875 V 136.9919 122.30752 l 4.034896,-0.0587 4.034895,-0.0587 -4.034895,-0.0805 -4.034896,-0.0805 V 107.48396 92.938775 h -8.598959 -8.598958 v -1.455208 -1.455208 h 26.590625 26.590626 v 1.322916 1.322917 l 2.44739,-0.0099 2.4474,-0.0099 -1.05833,-0.912172 c -0.58209,-0.501695 -1.14763,-0.913943 -1.25678,-0.916107 -0.10914,-0.0021 -0.19843,-0.167648 -0.19843,-0.367739 0,-0.440026 0.80807,-0.61668 3.88262,-0.848778 2.06153,-0.155623 6.85875,0.224094 7.20496,0.570301 0.17611,0.176115 -1.08325,1.436029 -1.43541,1.436029 -0.17036,0 -0.52524,0.238125 -0.78863,0.529167 -0.47682,0.526878 -0.46241,0.529124 3.33243,0.519231 l 3.81132,-0.0099 -1.05833,-0.912172 c -0.58209,-0.501695 -1.14763,-0.913942 -1.25678,-0.916106 -0.10914,-0.0021 -0.19843,-0.167648 -0.19843,-0.367739 0,-0.440026 0.80807,-0.616681 3.88262,-0.848778 2.06153,-0.155623 6.85875,0.224094 7.20496,0.570301 0.17611,0.176115 -1.08325,1.436029 -1.43541,1.436029 -0.17036,0 -0.52524,0.238125 -0.78863,0.529166 -0.47558,0.525505 -0.46213,0.529167 1.94337,0.529167 h 2.42225 v 5.423958 5.42395 l -19.11614,0.0209 c -10.51388,0.0115 -18.967318,0.0809 -18.785417,0.15434 0.391097,0.15781 0.451017,1.67685 0.06615,1.67685 -0.145521,0 -0.264583,0.17859 -0.264583,0.39688 0,0.21828 0.119062,0.39687 0.264583,0.39687 0.145521,0 0.264583,0.35719 0.264583,0.79375 0,0.43656 -0.119062,0.79375 -0.264583,0.79375 -0.145521,0 -0.264583,0.17859 -0.264583,0.39688 0,0.21828 0.119062,0.39687 0.264583,0.39687 0.145521,0 0.264583,0.35719 0.264583,0.79375 0,0.43656 -0.119062,0.79375 -0.264583,0.79375 -0.145521,0 -0.264583,0.17859 -0.264583,0.39688 0,0.21828 0.119062,0.39687 0.264583,0.39687 0.145521,0 0.264583,0.35719 0.264583,0.79375 0,0.43656 -0.119062,0.79375 -0.264583,0.79375 -0.145521,0 -0.264583,0.17859 -0.264583,0.39688 0,0.21828 0.119062,0.39687 0.264583,0.39687 0.145521,0 0.264583,0.35719 0.264583,0.79375 0,0.43656 -0.119062,0.79375 -0.264583,0.79375 -0.145521,0 -0.264583,0.17859 -0.264583,0.39688 0,0.21828 0.119062,0.39687 0.264583,0.39687 0.145521,0 0.264583,0.35719 0.264583,0.79375 0,0.43656 -0.119062,0.79375 -0.264583,0.79375 -0.145521,0 -0.264583,0.17859 -0.264583,0.39688 0,0.21828 0.119062,0.39687 0.264583,0.39687 0.145521,0 0.264583,0.35719 0.264583,0.79375 0,0.43656 -0.119062,0.79375 -0.264583,0.79375 -0.145521,0 -0.264583,0.17859 -0.264583,0.39688 0,0.21828 0.119062,0.39687 0.264583,0.39687 0.145521,0 0.264583,0.35719 0.264583,0.79375 0,0.43656 -0.119062,0.79375 -0.264583,0.79375 -0.173675,0 -0.264583,5.90903 -0.264583,17.19792 v 17.19791 h -8.069796 -8.069792 v 9.12813 9.12812 h 50.799998 50.8 V 157.6295 140.56387 h -5.12212 -5.12212 l -0.28908,2.54488 c -0.159,1.39969 -0.35362,2.60943 -0.43251,2.68831 -0.21039,0.21039 -1.17286,-0.72845 -1.54696,-1.50898 -0.35818,-0.74734 -1.24554,-1.08126 -1.24554,-0.46873 0,0.53337 -0.64467,1.01418 -1.63003,1.21571 -0.45815,0.0937 -0.96325,0.40593 -1.12243,0.69385 -1.97663,3.57522 -3.74025,5.38107 -6.7064,6.86694 -1.11812,0.56012 -1.38906,0.8245 -1.38906,1.35541 0,0.36276 -0.30198,0.96155 -0.67108,1.33064 l -0.67108,0.67108 0.98737,0.90439 c 0.54305,0.49742 1.08316,0.9044 1.20025,0.9044 0.11708,0 0.21287,0.16371 0.21287,0.3638 0,0.44204 -0.82295,0.62031 -3.87937,0.84036 -2.09546,0.15086 -6.5801,-0.19836 -6.92066,-0.53892 -0.20156,-0.20156 0.75729,-1.17101 1.51958,-1.53636 0.74731,-0.35818 1.08124,-1.24555 0.46871,-1.24555 -0.53338,0 -1.01418,-0.64466 -1.21571,-1.63002 -0.0937,-0.45816 -0.40594,-0.96326 -0.69385,-1.12243 -3.57523,-1.97663 -5.38107,-3.74025 -6.86695,-6.7064 -0.56012,-1.11812 -0.82449,-1.38907 -1.3554,-1.38907 -0.36276,0 -0.96155,-0.30198 -1.33064,-0.67108 l -0.67109,-0.67108 -0.90439,0.98737 c -0.49742,0.54305 -0.90439,1.08317 -0.90439,1.20025 0,0.11708 -0.16371,0.21288 -0.3638,0.21288 -0.44205,0 -0.62032,-0.82296 -0.84036,-3.87938 -0.15087,-2.09545 0.19836,-6.5801 0.53891,-6.92065 0.20157,-0.20157 1.17101,0.75728 1.53637,1.51957 0.35818,0.74732 1.24554,1.08124 1.24554,0.46871 0,-0.53337 0.64467,-1.01418 1.63003,-1.21571 0.45816,-0.0937 0.96325,-0.40593 1.12243,-0.69385 1.97663,-3.57522 3.74025,-5.38107 6.7064,-6.86695 1.11812,-0.56011 1.38906,-0.82449 1.38906,-1.3554 0,-0.36276 0.30199,-0.96155 0.67108,-1.33064 l 0.67108,-0.67108 -0.98737,-0.90439 c -0.54305,-0.49742 -1.08316,-0.9044 -1.20024,-0.9044 -0.11709,0 -0.21288,-0.1713 -0.21288,-0.38066 0,-0.49839 1.76485,-0.77363 5.09178,-0.7941 l 2.57824,-0.0159 0.001,-34.329678 0.002,-34.329673 H 139.15517 127.38121 V 42.667944 32.084611 H 73.273917 19.166626 l 0.0014,1.124479 0.0014,1.124479 1.652274,0.418848 c 0.90875,0.230366 1.860633,0.510995 2.115294,0.62362 0.399052,0.176482 0.463021,0.05465 0.463021,-0.881869 0,-2.224903 1.625032,-2.664729 2.56473,-0.694162 0.387336,0.812253 0.51998,0.886438 1.509647,0.844321 0.940483,-0.04002 1.096259,0.03312 1.169546,0.549138 0.09993,0.703633 0.2155,0.719318 1.462143,0.198438 1.294553,-0.5409 2.788192,-0.520268 3.003759,0.04149 0.240189,0.625921 -0.419915,1.660271 -1.666187,2.610834 l -1.075428,0.820258 0.876768,1.014275 c 0.942578,1.090401 1.388473,2.615803 0.963285,3.295393 -0.428017,0.684107 -1.820569,0.658019 -3.101859,-0.0581 -0.634849,-0.354825 -1.267068,-0.571039 -1.404932,-0.480475 -0.137867,0.09056 -0.417955,0.688205 -0.622422,1.328089 -0.204467,0.639887 -0.634174,1.335384 -0.954904,1.545548 -0.532316,0.34881 -0.641337,0.323926 -1.250759,-0.285496 -0.382457,-0.382411 -0.74015,-1.120921 -0.83734,-1.728714 l -0.169676,-1.061096 -0.752688,0.556488 c -0.469662,0.347236 -1.179158,0.56534 -1.886856,0.580038 -1.025537,0.0213 -1.141685,-0.04095 -1.212656,-0.64984 -0.05234,-0.449038 0.239535,-1.089896 0.876049,-1.923513 1.14516,-1.499771 1.06865,-1.908582 -0.539564,-2.88302 l -1.184045,-0.717424 v 30.284611 30.28461 h 9.961038 9.961039 l -0.157708,2.315101 c -0.481843,7.07328 -5.021873,13.64104 -11.737059,16.97922 -2.421543,1.20378 -4.246753,1.77756 -6.445918,2.02636 l -1.581392,0.17892 v 6.7127 6.7127 h 0.892776 c 0.491027,0 1.398965,0.17859 2.01764,0.39687 0.618675,0.21828 1.153749,0.39688 1.189053,0.39688 0.0353,0 0.130265,-0.49264 0.211024,-1.09474 0.276185,-2.05911 1.653043,-2.37947 2.509313,-0.58386 0.405156,0.84962 0.509428,0.90894 1.327911,0.75539 1.002249,-0.18802 1.641866,0.1869 1.641866,0.9624 0,0.46568 0.05542,0.4749 0.736748,0.12257 1.830835,-0.94676 3.496585,-0.76963 3.496585,0.37182 0,0.49438 -1.044032,1.72193 -2.05722,2.41883 l -0.602011,0.41408 0.945956,1.40569 c 1.182802,1.75763 1.215401,3.13833 0.08345,3.53392 -0.559935,0.19569 -1.00539,0.0984 -2.179341,-0.47596 -0.811552,-0.39705 -1.581531,-0.65642 -1.711063,-0.57636 -0.129533,0.08 -0.369983,0.67958 -0.534334,1.33227 -0.317908,1.26253 -1.025849,1.87243 -1.864471,1.60626 -0.484704,-0.15384 -0.892481,-0.94067 -1.183031,-2.28276 l -0.14925,-0.68939 -1.336687,0.66152 c -1.112714,0.55067 -1.445975,0.61172 -1.988923,0.36434 -0.895951,-0.40823 -0.820767,-1.10554 0.273805,-2.53951 0.509323,-0.66724 0.919104,-1.42051 0.910625,-1.67391 -0.0085,-0.2534 -0.603792,-0.8387 -1.322917,-1.30066 l -1.307499,-0.83992 v 4.34565 4.34566 h 4.233333 4.233333 v 5.89803 5.89804 l 1.151033,1.12965 1.151036,1.12966 0.836078,-0.70352 0.83608,-0.70351 1.32841,0.85244 c 1.486019,0.95357 3.693197,3.33048 3.693197,3.97719 0,0.23179 -0.2906,0.69445 -0.645777,1.02812 l -0.645776,0.60668 1.37338,1.28144 1.373381,1.28144 6.416146,0.0101 6.416146,0.0101 v 4.23127 4.23127 l -15.941146,0.0703 c -10.436417,0.046 -6.599095,0.0924 11.1125,0.13436 l 27.053646,0.064 z m 4.7625,9.82001 c 0,-0.38114 -0.261946,-0.80266 -0.661459,-1.06443 l -0.661458,-0.43341 v -5.94092 -5.94093 l 0.661458,-0.43341 c 0.399513,-0.26177 0.661459,-0.68329 0.661459,-1.06443 v -0.63103 h 7.223125 c 5.265208,0 7.309186,0.0861 7.540625,0.3175 0.174625,0.17463 0.3175,0.71041 0.3175,1.19063 0,0.48022 0.119062,0.87312 0.264583,0.87312 0.145521,0 0.264583,0.41672 0.264583,0.92605 0,0.50932 -0.119062,0.92604 -0.264583,0.92604 -0.168108,0 -0.264583,2.05493 -0.264583,5.63562 0,4.03049 -0.09043,5.72606 -0.3175,5.95313 -0.231439,0.23144 -2.275417,0.3175 -7.540625,0.3175 h -7.223125 z m 12.435416,-7.43876 v -7.80521 h -5.953125 -5.953125 v 7.80521 7.8052 h 5.953125 5.953125 z m 2.116667,0 c 0,-6.98664 -0.01974,-7.26799 -0.529167,-7.54063 -0.523621,-0.28023 -0.529166,-0.20121 -0.529166,7.54063 0,7.74183 0.0056,7.82085 0.529166,7.54062 0.509424,-0.27263 0.529167,-0.55399 0.529167,-7.54062 z m -14.552083,-0.0324 c 0,-5.52565 -0.046,-6.21193 -0.396875,-5.92073 -0.329914,0.27381 -0.396875,1.27474 -0.396875,5.9326 0,4.00529 0.09055,5.69378 0.3175,5.92073 0.174625,0.17463 0.353219,0.3175 0.396875,0.3175 0.04366,0 0.07937,-2.81254 0.07937,-6.2501 z M 61.367667,86.968207 c -1.790803,-0.474512 -3.086507,-0.632582 -5.22552,-0.63749 l -2.844271,-0.0065 v -0.793775 -0.79375 h 21.298958 21.298958 v 0.79375 0.79375 l -2.84427,0.0053 c -2.150679,0.004 -3.457213,0.164018 -5.357813,0.656156 -2.4761,0.641157 -2.673165,0.650573 -13.229167,0.632187 -10.419172,-0.01815 -10.781503,-0.03612 -13.096875,-0.649631 z m 9.392709,-0.114848 c 0,-0.510146 -0.16881,-0.528349 -4.696354,-0.506426 -3.309054,0.01603 -4.461881,0.0952 -3.902605,0.268042 1.516843,0.468762 3.454345,0.705866 6.019271,0.736621 2.413609,0.02894 2.579688,-0.0031 2.579688,-0.498237 z m 1.852083,0 c 0,-0.388057 -0.17639,-0.529167 -0.661458,-0.529167 -0.485069,0 -0.661459,0.14111 -0.661459,0.529167 0,0.388056 0.17639,0.529167 0.661459,0.529167 0.485068,0 0.661458,-0.141111 0.661458,-0.529167 z m 1.852083,0 c 0,-0.388057 -0.176389,-0.529167 -0.661458,-0.529167 -0.485068,0 -0.661458,0.14111 -0.661458,0.529167 0,0.388056 0.17639,0.529167 0.661458,0.529167 0.485069,0 0.661458,-0.141111 0.661458,-0.529167 z m 1.5875,0 c 0,-0.388057 -0.176389,-0.529167 -0.661458,-0.529167 -0.485068,0 -0.661458,0.14111 -0.661458,0.529167 0,0.388056 0.17639,0.529167 0.661458,0.529167 0.485069,0 0.661458,-0.141111 0.661458,-0.529167 z m 1.852084,0 c 0,-0.388057 -0.17639,-0.529167 -0.661459,-0.529167 -0.485068,0 -0.661458,0.14111 -0.661458,0.529167 0,0.388056 0.17639,0.529167 0.661458,0.529167 0.485069,0 0.661459,-0.141111 0.661459,-0.529167 z m 8.598958,-0.09648 c 1.284491,-0.374174 1.186508,-0.386054 -3.373437,-0.409025 -4.632259,-0.02334 -4.696355,-0.01593 -4.696355,0.543529 0,0.558471 0.05183,0.564755 3.373438,0.409027 1.855391,-0.08699 3.96875,-0.331579 4.696354,-0.543531 z m 9.128125,-1.226434 c 0,-0.524729 -0.17639,-0.529166 -21.034375,-0.529166 -20.857985,0 -21.034375,0.0044 -21.034375,0.529166 0,0.52473 0.17639,0.529167 21.034375,0.529167 20.857985,0 21.034375,-0.0044 21.034375,-0.529167 z M 36.92887,52.095855 c -3.972777,-3.977648 -4.552485,-4.661943 -4.314794,-5.093229 0.48169,-0.874017 10.77004,-10.949265 11.180853,-10.949265 0.424733,0 9.502947,8.994645 9.502947,9.415467 0,0.415118 -10.970266,11.222032 -11.391657,11.222032 -0.213386,0 -2.453193,-2.067753 -4.977349,-4.595005 z m 5.830985,3.627956 c 0.266121,-0.240835 0.483854,-0.566981 0.483854,-0.724768 0,-0.157787 -1.990439,-2.279912 -4.423201,-4.715833 l -4.423198,-4.428947 -0.743223,0.712052 -0.743222,0.712052 4.435898,4.441663 c 2.439744,2.442914 4.546902,4.441663 4.682569,4.441663 0.135668,0 0.464402,-0.197045 0.730523,-0.437882 z m 4.849074,-4.863605 3.413035,-3.449405 -3.554722,-3.562053 c -1.955099,-1.959129 -3.677158,-3.562054 -3.826798,-3.562054 -0.149643,0 -1.816486,1.547844 -3.704098,3.439655 l -3.432019,3.439654 3.564454,3.571804 c 1.960448,1.964491 3.691051,3.571803 3.845782,3.571803 0.154733,0 1.817198,-1.552231 3.694366,-3.449404 z m 4.624401,-4.672584 0.561361,-0.713656 -4.508381,-4.508378 -4.508381,-4.50838 -0.725664,0.725666 -0.725668,0.725666 4.490532,4.496368 c 2.469793,2.473003 4.572503,4.496369 4.672687,4.496369 0.100185,0 0.434766,-0.321146 0.743514,-0.713655 z m -12.483187,-3.068709 3.510542,-3.517781 -0.678387,-0.637309 -0.678383,-0.637309 -3.55695,3.54963 -3.55695,3.549629 0.568801,0.605459 c 0.312841,0.333004 0.638998,0.605462 0.724794,0.605462 0.0858,0 1.735736,-1.583002 3.666533,-3.517781 z M 24.375008,55.883545 c -2.08846,-0.358563 -3.488591,-1.999054 -3.488591,-4.087476 0,-1.592377 0.518738,-2.510057 1.981685,-3.505729 1.127038,-0.767057 3.428498,-0.81792 4.769318,-0.105408 2.589406,1.376011 2.907019,5.222309 0.568732,6.887316 -0.977953,0.696365 -2.555181,1.030364 -3.831144,0.811297 z m 3.392862,-1.154229 c 1.015564,-0.665422 1.497021,-1.608783 1.497021,-2.933247 0,-1.859347 -1.101199,-3.152574 -3.027288,-3.555201 -1.452325,-0.303594 -2.814906,0.101698 -3.861906,1.148699 -0.869588,0.869587 -0.960113,1.096486 -0.960113,2.406502 0,1.312235 0.0898,1.536189 0.968203,2.414592 1.430728,1.430727 3.663783,1.645841 5.384083,0.518655 z M 23.241209,53.67461 c -0.698881,-0.698881 -0.899583,-1.117994 -0.899583,-1.878541 0,-1.378252 1.393163,-2.778125 2.764806,-2.778125 3.057977,0 4.390252,3.530711 1.904272,5.046572 -1.339549,0.816806 -2.703908,0.67568 -3.769495,-0.389906 z m 2.650652,-0.319349 c 0.710682,-0.272714 0.462813,-0.598652 -0.441381,-0.580398 -1.069774,0.02159 -1.422799,0.208573 -0.954289,0.505436 0.427793,0.271063 0.828548,0.292587 1.39567,0.07496 z m -2.682567,-0.908228 c -0.07762,-0.296814 -0.200243,-0.480544 -0.272499,-0.408286 -0.143138,0.143137 0.109694,0.947947 0.297798,0.947947 0.0637,0 0.05232,-0.242848 -0.0253,-0.539661 z m 0.984415,-0.515389 c 0,-0.272058 0.178594,-0.673246 0.396875,-0.891527 0.608452,-0.608452 0.515304,-1.04584 -0.147216,-0.691269 -0.628377,0.336296 -1.019298,1.217687 -0.84155,1.897399 0.153355,0.586427 0.591891,0.353337 0.591891,-0.314603 z m 1.571418,-0.419537 c -0.337272,-0.406387 -1.042251,-0.210082 -1.042251,0.290222 0,0.462671 0.579516,0.648954 0.99545,0.319984 0.24314,-0.192304 0.255871,-0.358291 0.0468,-0.610206 z m 1.338999,0.303165 c 0,-0.722701 -1.365828,-2.007137 -1.549236,-1.456915 -0.05868,0.17603 0.0873,0.428615 0.324401,0.5613 0.237097,0.132686 0.431085,0.453613 0.431085,0.713169 0,0.259559 0.07938,0.551299 0.176389,0.648311 0.356532,0.356534 0.617361,0.159711 0.617361,-0.465865 z m 0.709906,-0.201104 c -0.08446,-0.211067 -0.147156,-0.148374 -0.159851,0.159853 -0.01148,0.278913 0.05104,0.435184 0.138965,0.347265 0.08792,-0.08792 0.09732,-0.316124 0.02088,-0.507118 z m -4.601898,-0.479923 c 0.07616,-0.291243 0.03052,-0.462809 -0.101433,-0.381259 -0.13195,0.08155 -0.239909,0.319839 -0.239909,0.529532 0,0.547621 0.179784,0.469527 0.341342,-0.148273 z m 3.905327,-0.866881 -0.618727,-0.587962 0.501133,0.701691 c 0.275624,0.385929 0.55405,0.650512 0.618725,0.587962 0.06468,-0.06255 -0.160832,-0.378312 -0.501131,-0.701691 z m 28.944713,5.29e-4 c -0.06973,-0.181718 -0.09515,-3.78176 -0.05648,-8.000092 l 0.07031,-7.669648 h 19.84375 19.84375 v 7.937499 7.9375 l -19.787272,0.0626 c -15.621651,0.04942 -19.813961,-0.007 -19.914055,-0.267806 z m 3.532785,-0.244533 c 0.452588,-0.452588 0.452588,-14.522826 0,-14.975416 -0.411641,-0.411641 -2.657525,-0.411641 -3.069167,0 -0.452588,0.45259 -0.452588,14.522828 0,14.975416 0.174625,0.174625 0.865188,0.3175 1.534584,0.3175 0.669396,0 1.359958,-0.142875 1.534583,-0.3175 z M 75.49573,49.97669 c 0.211301,-0.254601 0.280752,-2.105382 0.230835,-6.151562 l -0.0714,-5.787395 h -7.672916 -7.672917 l -0.0714,5.787395 c -0.04992,4.04618 0.01953,5.896961 0.230836,6.151562 0.243057,0.292867 1.714124,0.364167 7.513479,0.364167 5.799354,0 7.270422,-0.0713 7.513479,-0.364167 z m 15.875,0 c 0.211301,-0.254601 0.280752,-2.105382 0.230835,-6.151562 l -0.0714,-5.787395 h -7.672916 -7.672917 l -0.0714,5.787395 c -0.04992,4.04618 0.01953,5.896961 0.230836,6.151562 0.243057,0.292867 1.714124,0.364167 7.513479,0.364167 5.799354,0 7.270422,-0.0713 7.513479,-0.364167 z m 3.942979,0.04667 c 0.452588,-0.452588 0.452588,-14.522826 0,-14.975416 -0.411641,-0.411641 -2.657525,-0.411641 -3.069167,0 -0.452588,0.45259 -0.452588,14.522828 0,14.975416 0.174625,0.174625 0.865188,0.3175 1.534584,0.3175 0.669396,0 1.359958,-0.142875 1.534583,-0.3175 z M 91.614366,36.366806 c 0.1652,-1.721049 0.976384,-1.636362 -15.674094,-1.636362 -11.413622,0 -15.206189,0.07796 -15.44573,0.3175 -0.338743,0.338743 -0.436686,1.85637 -0.139014,2.15404 0.09817,0.09817 7.152619,0.147776 15.676562,0.110243 l 15.498077,-0.06824 z M 50.652042,170.3294 v -3.83646 l -6.416145,-0.0124 -6.416146,-0.0124 -5.225521,-4.92792 -5.225521,-4.92793 v -6.03992 -6.03991 h -4.101042 -4.101041 v 14.81667 14.81666 H 34.909334 50.652042 Z M 17.579126,154.98356 c 0,-8.95173 -0.01023,-9.12812 -0.529167,-9.12812 -0.518941,0 -0.529167,0.17639 -0.529167,9.12812 0,8.95174 0.01023,9.12813 0.529167,9.12813 0.518941,0 0.529167,-0.17639 0.529167,-9.12813 z m 1.322916,0 c 0,-8.95173 -0.01023,-9.12812 -0.529166,-9.12812 -0.518942,0 -0.529167,0.17639 -0.529167,9.12812 0,8.95174 0.01023,9.12813 0.529167,9.12813 0.518941,0 0.529166,-0.17639 0.529166,-9.12813 z m 16.66875,7.2809 c 0,-0.38605 -2.197571,-2.68093 -3.281164,-3.42646 -0.843817,-0.58056 -1.21744,-0.70009 -1.570606,-0.50244 -0.400166,0.22394 -0.145865,0.5597 1.863452,2.46039 1.71059,1.6181 2.414453,2.12986 2.657589,1.93225 0.181901,-0.14784 0.330729,-0.35653 0.330729,-0.46374 z m 0.02897,-1.28709 c -0.686549,-0.96417 -2.447433,-2.55703 -3.246705,-2.9369 -0.567888,-0.26991 -0.564377,-0.25691 0.04274,0.15814 0.363803,0.24872 1.316303,1.13823 2.116667,1.9767 1.647949,1.72641 1.853425,1.87798 1.0873,0.80206 z m 117.556308,-2.95554 c 0.31874,-0.31875 0.58885,-0.29906 -4.4759,-0.32629 -4.00411,-0.0215 -5.44894,0.28236 -3.04271,0.63997 1.62174,0.24102 7.19649,0.008 7.51861,-0.31368 z m -5.82713,-1.20782 c 0.26447,-0.6892 0.18652,-0.90441 -0.32756,-0.90441 -0.5517,0 -1.45898,0.87509 -1.18811,1.14595 0.3373,0.3373 1.35584,0.17498 1.51567,-0.24154 z m 2.34202,-0.24295 c -0.10005,-0.52339 -0.28569,-0.66146 -0.88935,-0.66146 -0.4196,0 -0.7629,0.10933 -0.7629,0.24295 0,0.13362 -0.0723,0.43127 -0.1606,0.66146 -0.12982,0.3383 0.0406,0.41851 0.88935,0.41851 0.97728,0 1.0412,-0.0458 0.9235,-0.66146 z m 1.92678,0.38529 c 0.23906,-0.3868 -0.36973,-1.04675 -0.9656,-1.04675 -0.52231,0 -0.60148,0.213 -0.33617,0.90441 0.18065,0.47076 1.04068,0.5648 1.30177,0.14234 z M 91.927045,139.77002 v -16.40416 h -7.805208 -7.805208 v 16.40416 16.40417 h 7.805208 7.805208 z m -13.585033,9.57031 c -0.38239,-0.42253 -0.437883,-1.3059 -0.437883,-6.97045 0,-5.94809 0.04017,-6.52295 0.483854,-6.92448 0.416309,-0.37675 1.223166,-0.43788 5.779825,-0.43788 4.794634,0 5.337424,0.0458 5.733855,0.48386 0.382389,0.42253 0.437882,1.3059 0.437882,6.97045 0,5.94809 -0.04017,6.52295 -0.483854,6.92448 -0.416308,0.37675 -1.223166,0.43788 -5.779825,0.43788 -4.794634,0 -5.337424,-0.0458 -5.733854,-0.48386 z m 11.052593,-0.1965 c 0.622715,-0.62271 0.622715,-12.83324 0,-13.45595 -0.617948,-0.61795 -9.927588,-0.61795 -10.545535,0 -0.35474,0.35474 -0.415775,1.34239 -0.415775,6.72797 0,5.38559 0.06104,6.37324 0.415775,6.72798 0.347776,0.34778 1.210095,0.41577 5.272767,0.41577 4.062672,0 4.924991,-0.068 5.272768,-0.41577 z m -7.587872,-0.92834 c -0.382752,-0.22293 -0.463021,-0.65451 -0.463021,-2.48952 v -2.21984 l -0.96539,-0.0821 c -1.890102,-0.16078 -1.890102,-1.85555 0,-2.01633 l 0.96539,-0.0821 v -2.22368 c 0,-2.76099 0.01485,-2.77146 3.932457,-2.77146 2.291689,0 2.997131,0.0882 3.324686,0.41577 0.350059,0.35006 0.415774,1.24618 0.415774,5.66964 0,4.42347 -0.06571,5.31959 -0.415774,5.66965 -0.329475,0.32947 -1.029666,0.4141 -3.373438,0.40773 -1.626714,-0.004 -3.166023,-0.12941 -3.420684,-0.27774 z m 6.548437,-5.79964 v -5.42395 h -3.175 -3.175 l -0.07664,2.16991 -0.07664,2.16992 1.636627,0.079 c 1.212012,0.0585 1.712058,0.19917 1.927368,0.54206 0.550331,0.87644 -0.107534,1.38019 -1.916877,1.46784 l -1.626134,0.0788 v 2.05994 c 0,1.13297 0.08295,2.1429 0.184335,2.24428 0.101386,0.10139 1.559901,0.151 3.241146,0.11024 l 3.05681,-0.0741 z m -5.820833,0 c 0,-0.28746 -0.356642,-0.41952 -1.293683,-0.47902 -1.324935,-0.0841 -1.952889,0.1997 -1.622943,0.73356 0.290388,0.46986 2.916626,0.24067 2.916626,-0.25454 z m 1.719792,0 c 0,-0.35277 -0.17639,-0.52916 -0.529167,-0.52916 -0.352777,0 -0.529167,0.17639 -0.529167,0.52916 0,0.35278 0.17639,0.52917 0.529167,0.52917 0.352777,0 0.529167,-0.17639 0.529167,-0.52917 z m 67.674451,12.55271 c 0.32343,-0.22653 0.58804,-0.62115 0.58804,-0.87692 0,-0.42286 -0.26999,-0.45471 -2.97656,-0.35114 -1.63711,0.0626 -3.42305,-0.009 -3.96875,-0.16009 -0.94388,-0.26064 -0.99219,-0.24355 -0.99219,0.35114 0,1.12461 0.88826,1.44889 3.96875,1.44889 2.09937,0 2.93866,-0.10226 3.38071,-0.41188 z m 1.42448,-2.48774 c 4.32433,-1.61793 7.67025,-5.91735 8.09022,-10.39569 l 0.14267,-1.52136 h -5.32841 -5.32842 v -6.46708 -6.46707 l -1.12448,-0.0814 c -7.64566,-0.55319 -13.98188,5.28515 -13.98188,12.88322 0,9.08138 8.975,15.25029 17.5303,12.04934 z m -86.032265,-1.29229 c 0,-0.12275 -0.23945,-0.91914 -0.532108,-1.76977 -0.292661,-0.85063 -0.441489,-1.62364 -0.33073,-1.7178 0.110758,-0.0942 1.213411,-0.43583 2.450338,-0.75927 1.236928,-0.32344 2.445928,-0.64504 2.686667,-0.71466 0.33497,-0.0969 0.562949,0.23278 0.971299,1.40455 l 0.533593,1.53115 -0.01513,-13.36146 c -0.0083,-7.3488 -0.06854,-13.0638 -0.133808,-12.7 -0.06526,0.3638 -0.219112,0.76604 -0.341882,0.89385 -0.122769,0.12782 -0.08405,0.45524 0.08605,0.72761 0.237352,0.38006 0.234204,0.6154 -0.01355,1.01211 -0.177546,0.28429 -0.218093,0.58162 -0.0901,0.66072 0.303356,0.18748 0.303356,3.27811 0,3.46559 -0.127989,0.0791 -0.08744,0.37643 0.0901,0.66072 0.254024,0.40676 0.254024,0.62705 0,1.0338 -0.177546,0.2843 -0.218093,0.58162 -0.0901,0.66072 0.303356,0.18749 0.303356,3.27811 0,3.46559 -0.127989,0.0791 -0.08744,0.37643 0.0901,0.66072 0.254024,0.40676 0.254024,0.62705 0,1.03381 -0.177546,0.28429 -0.218093,0.58162 -0.0901,0.66072 0.12799,0.0791 0.232707,0.85885 0.232707,1.73279 0,0.87394 -0.104717,1.6537 -0.232707,1.7328 -0.127989,0.0791 -0.08744,0.37642 0.0901,0.66072 0.254024,0.40675 0.254024,0.62704 0,1.0338 -0.203253,0.32546 -0.226824,0.57622 -0.06364,0.67707 0.451958,0.27933 0.283107,1.42043 -0.252609,1.70714 -0.281482,0.15064 -1.514408,0.27389 -2.739842,0.27389 h -2.228064 l -0.01461,-11.31094 c -0.008,-6.22101 -0.02527,-11.45976 -0.03829,-11.64167 -0.01411,-0.19707 -0.397915,-0.33072 -0.949724,-0.33072 h -0.926042 v 14.41979 14.41979 h 0.926042 c 0.509323,0 0.926041,-0.10042 0.92604,-0.22316 z m 5.820834,-0.52921 v -0.75236 l -2.287072,0.61073 c -1.25789,0.3359 -2.418749,0.66506 -2.579687,0.73147 -0.160938,0.0664 0.868243,0.13015 2.287071,0.14164 l 2.579688,0.0209 z m -2.582132,-0.60374 c 1.421915,-0.38367 2.043125,-0.66916 1.955117,-0.8985 -0.07094,-0.18488 -0.270841,-0.8096 -0.444212,-1.38826 l -0.315222,-1.05211 -2.253625,0.62003 c -1.239496,0.34102 -2.313194,0.67961 -2.385997,0.75241 -0.0728,0.0728 0.0186,0.67156 0.203113,1.33057 0.390935,1.39628 0.409308,1.39989 3.240826,0.63586 z m 1.65609,-5.39077 c 0,-0.47875 -0.201647,-0.53638 -2.116667,-0.60494 l -2.116666,-0.0758 v 0.68072 0.68073 l 2.116666,-0.0758 c 1.91502,-0.0686 2.116667,-0.12619 2.116667,-0.60495 z m 59.220253,-4.1629 c 0.006,-4.37782 -0.29517,-5.52766 -0.6973,-2.65913 -0.2104,1.5009 -0.0253,6.56626 0.25663,7.02242 0.34557,0.55915 0.4348,-0.32437 0.44067,-4.36329 z m 35.23615,1.98009 c 0.15387,-1.58828 0.11956,-1.91823 -0.19951,-1.91823 -0.28679,0 -0.42602,0.48505 -0.54433,1.89626 -0.0874,1.04295 -0.0913,2.00582 -0.009,2.13972 0.30624,0.49551 0.57152,-0.25122 0.75235,-2.11775 z m -3.45474,1.46248 c 0.24647,-0.35188 0.41187,-1.1488 0.41187,-1.98437 0,-1.3751 -0.0121,-1.39634 -0.79375,-1.39634 -0.75762,0 -0.79375,0.0512 -0.79375,1.12623 0,0.61942 -0.11075,1.51239 -0.24611,1.98437 -0.22826,0.7959 -0.20056,0.85815 0.38187,0.85815 0.34901,0 0.81096,-0.26123 1.03987,-0.58804 z m -27.8461,-2.6531 c -0.0626,-1.63711 0.009,-3.42305 0.16008,-3.96875 0.26065,-0.94388 0.24355,-0.99219 -0.35114,-0.99219 -1.1246,0 -1.44888,0.88825 -1.44888,3.96875 0,2.95634 0.32876,3.96875 1.2888,3.96875 0.42286,0 0.45471,-0.26999 0.35114,-2.97656 z m -108.914979,1.26526 c 0.488959,-1.17024 0.493092,-3.0646 0.0081,-3.72782 -0.206383,-0.28224 -0.419559,-0.45383 -0.473723,-0.3813 -1.521696,2.0377 -1.556353,2.11587 -1.377448,3.10689 0.380664,2.10861 1.195602,2.55177 1.843039,1.00223 z m 106.428369,0.60005 c 0.37316,-0.37316 0.42581,-1.27 0.0746,-1.27 -0.58501,0 -1.07998,0.35655 -1.07998,0.77796 0,0.8014 0.46734,1.03012 1.00542,0.49204 z m 32.59667,-0.59585 c 0,-0.55925 -0.43659,-0.93874 -1.07998,-0.93874 -0.39505,0 -0.27743,0.84627 0.1893,1.362 0.52577,0.58096 0.89068,0.40756 0.89068,-0.42326 z m -93.133331,0.1196 c 0,-0.48659 -0.17639,-0.52917 -2.192261,-0.52917 -2.015874,0 -2.192263,0.0426 -2.192263,0.52917 0,0.48659 0.176389,0.52916 2.192263,0.52916 2.015871,0 2.192261,-0.0426 2.192261,-0.52916 z m -49.559857,-1.85043 c 1.195857,-0.68585 2.728604,-2.22422 2.728604,-2.73861 0,-0.0954 -0.531639,-0.17346 -1.181419,-0.17346 -0.94778,0 -1.369046,0.16474 -2.130182,0.83302 -1.501529,1.31836 -2.101484,2.87652 -1.104555,2.86866 0.173313,-0.001 0.932711,-0.35669 1.687552,-0.78961 z m 9.030574,-0.0734 c 0.08714,-0.75827 -0.633696,-2.17301 -1.464781,-2.87483 -0.422587,-0.35686 -0.627438,-0.34111 -1.972344,0.15166 l -1.500778,0.54988 0.707028,0.84628 c 0.857334,1.02619 2.890594,2.22264 3.617446,2.12864 0.359995,-0.0466 0.556104,-0.30283 0.613429,-0.80163 z m 101.383444,-0.22368 c 0,-0.4196 -0.10933,-0.76291 -0.24294,-0.76291 -0.13362,0 -0.43128,-0.0723 -0.66146,-0.1606 -0.3383,-0.12982 -0.41852,0.0406 -0.41852,0.88935 0,0.97728 0.0458,1.0412 0.66146,0.92351 0.52339,-0.10005 0.66146,-0.28569 0.66146,-0.88935 z m -60.986456,0.16313 c 0,-0.47961 -0.201856,-0.53632 -2.155462,-0.60557 l -2.15546,-0.0764 0.03879,0.68112 c 0.03865,0.67855 0.04681,0.68084 2.155462,0.60557 1.915094,-0.0684 2.116667,-0.12594 2.116667,-0.60472 z m 93.265626,0.26459 c 0,-0.43054 -0.93185,-0.551 -1.17825,-0.15232 -0.12983,0.21006 0.23548,0.40337 0.97981,0.5185 0.10914,0.0169 0.19844,-0.1479 0.19844,-0.36618 z m -3.175,-1.19063 c -0.81954,-0.44867 -1.51183,-0.50826 -6.01927,-0.51807 -4.92054,-0.0107 -5.09323,0.007 -5.09323,0.51807 0,0.51399 0.17269,0.52885 6.01927,0.51808 l 6.01927,-0.0111 z m 15.08125,0 c 0,-0.51122 -0.17269,-0.52879 -5.09323,-0.51807 -4.50744,0.01 -5.19974,0.0694 -6.01927,0.51807 l -0.92604,0.50699 6.01927,0.0111 c 5.84658,0.0108 6.01927,-0.004 6.01927,-0.51807 z m -13.22917,-0.13229 c 0,-0.25884 -0.25307,-0.39362 -0.7276,-0.3875 l -0.72761,0.009 0.66146,0.37812 c 0.82784,0.47324 0.79375,0.47324 0.79375,0 z m 1.56545,-0.30042 c 0.0606,-0.0531 -0.20726,-0.0965 -0.59531,-0.0965 -0.45796,0 -0.70556,0.14254 -0.70556,0.40619 0,0.33661 0.10197,0.35313 0.59532,0.0965 0.32742,-0.17035 0.64492,-0.35313 0.70555,-0.40618 z m -93.508156,-0.49333 c 0,-0.47876 -0.201647,-0.53638 -2.116667,-0.60494 l -2.116666,-0.0758 v 0.68072 0.68072 l 2.116666,-0.0758 c 1.91502,-0.0686 2.116667,-0.12618 2.116667,-0.60494 z m 60.986456,-0.0913 c 0,-0.55171 -0.87508,-1.45899 -1.14595,-1.18812 -0.30252,0.30253 -0.19413,1.36067 0.15376,1.50105 0.66394,0.2679 0.99219,0.16437 0.99219,-0.31293 z m 27.23004,0.12104 c -0.0606,-0.0564 -2.16408,-1.12861 -4.67431,-2.38272 l -4.56406,-2.28019 v 2.38272 2.38272 h 4.6743 c 2.57087,0 4.6247,-0.0461 4.56407,-0.10253 z m 3.72621,-3.07247 v -3.175 H 157.676 c -8.40582,0 -8.39641,-0.0303 -1.12448,3.62597 4.19768,2.11057 5.6013,2.69714 6.48229,2.70895 l 1.12448,0.0151 z m 7.80354,0.46602 c 7.35284,-3.67123 7.3616,-3.64102 -1.05666,-3.64102 h -6.4823 v 3.175 3.175 h 1.05667 c 0.81041,0 2.32106,-0.6313 6.48229,-2.70898 z m 5.42563,0.32626 v -2.38272 l -4.56407,2.28019 c -2.51023,1.25411 -4.61367,2.32633 -4.6743,2.38272 -0.0606,0.0564 1.99319,0.10253 4.56406,0.10253 h 4.67431 z m -148.442078,0.64689 c 1.85411,-0.86305 3.714994,-2.38802 3.714994,-3.04438 0,-0.66565 -0.644459,-0.65888 -2.47495,0.026 -1.117983,0.41829 -1.511826,0.71939 -1.776375,1.35807 -0.186952,0.45134 -0.627155,1.16198 -0.978228,1.57921 -0.801097,0.95205 -0.402384,0.9734 1.514559,0.0811 z m -1.897938,-0.52801 c 0.970841,-1.1778 1.556179,-2.9611 1.11307,-3.3911 -0.670597,-0.65076 -3.044866,3.20459 -2.508233,4.07288 0.275512,0.44579 0.594016,0.29015 1.395163,-0.68178 z m -2.52943,0.34561 c -0.14831,-0.1819 -0.417606,-0.82922 -0.598434,-1.43848 -0.2846,-0.95891 -0.49929,-1.18111 -1.597728,-1.65365 -0.697922,-0.30024 -1.693361,-0.54589 -2.212087,-0.54589 -0.809282,0 -0.943139,0.0868 -0.943139,0.61196 0,0.81279 1.124996,1.8472 2.910416,2.67606 1.58109,0.734 2.909344,0.92446 2.440972,0.35 z m 47.829862,-0.19843 c 0,-0.48659 -0.17639,-0.52917 -2.192261,-0.52917 -2.015874,0 -2.192263,0.0426 -2.192263,0.52917 0,0.48658 0.176389,0.52916 2.192263,0.52916 2.015871,0 2.192261,-0.0426 2.192261,-0.52916 z m -47.094845,-0.72761 c 5.56e-4,-0.25466 0.224428,-0.82943 0.49752,-1.27727 0.441715,-0.72436 0.458177,-0.92582 0.149112,-1.82483 -0.19108,-0.55581 -0.541304,-1.20143 -0.778274,-1.4347 -0.395571,-0.3894 -0.462032,-0.38208 -0.811559,0.0894 -0.491348,0.66286 -0.482673,1.82513 0.02642,3.53943 0.39534,1.33126 0.914778,1.84567 0.91678,0.90792 z m 46.962553,-1.25677 c 0,-0.47961 -0.201856,-0.53632 -2.155462,-0.60557 l -2.15546,-0.0764 0.03879,0.68112 c 0.03865,0.67855 0.04681,0.68084 2.155462,0.60557 1.915094,-0.0684 2.116667,-0.12595 2.116667,-0.60472 z m 0,-1.85208 c 0,-0.47876 -0.201647,-0.53639 -2.116667,-0.60495 l -2.116666,-0.0758 v 0.68073 0.68072 l 2.116666,-0.0758 c 1.91502,-0.0686 2.116667,-0.12619 2.116667,-0.60494 z m 91.942706,-3.83646 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -105.039584,1.85208 c 0,-0.48659 -0.17639,-0.52916 -2.192261,-0.52916 -2.015874,0 -2.192263,0.0426 -2.192263,0.52916 0,0.48659 0.176389,0.52917 2.192263,0.52917 2.015871,0 2.192261,-0.0426 2.192261,-0.52917 z m -0.132292,-1.98437 c 0,-0.47961 -0.201856,-0.53632 -2.155462,-0.60557 l -2.15546,-0.0764 0.03879,0.68113 c 0.03865,0.67854 0.04681,0.68083 2.155462,0.60557 1.915094,-0.0684 2.116667,-0.12595 2.116667,-0.60472 z m 0,-1.85209 c 0,-0.47875 -0.201647,-0.53638 -2.116667,-0.60494 l -2.116666,-0.0758 v 0.68072 0.68073 l 2.116666,-0.0758 c 1.91502,-0.0686 2.116667,-0.12619 2.116667,-0.60495 z M 148.71324,127.07 h 2.21588 v -0.79375 -0.79375 h -2.45467 c -2.66876,0 -3.63074,0.36325 -3.63074,1.37099 0,0.4718 0.11398,0.52444 0.82682,0.38188 0.45475,-0.0909 1.82397,-0.16537 3.04271,-0.16537 z m -76.365364,-1.85208 c 0,-0.48659 -0.17639,-0.52917 -2.192261,-0.52917 -2.015874,0 -2.192263,0.0426 -2.192263,0.52917 0,0.48659 0.176389,0.52917 2.192263,0.52917 2.015871,0 2.192261,-0.0426 2.192261,-0.52917 z m 91.810414,-2.64583 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -30.1625,2.1383 c 0,-0.59686 -0.36075,-1.07997 -0.80644,-1.07997 -0.6502,0 -0.9006,0.46321 -0.50686,0.93763 0.35193,0.42405 1.3133,0.52825 1.3133,0.14234 z m 2.11666,0 c 0,-0.13362 0.0723,-0.43127 0.1606,-0.66146 0.12982,-0.3383 -0.0406,-0.41851 -0.88935,-0.41851 -0.97728,0 -1.0412,0.0458 -0.9235,0.66146 0.10005,0.52339 0.28569,0.66146 0.88935,0.66146 0.4196,0 0.7629,-0.10933 0.7629,-0.24295 z m 1.5875,-0.41851 c 0,-0.73865 -0.64095,-0.91211 -0.89773,-0.24295 -0.26834,0.69929 -0.18475,0.90441 0.36857,0.90441 0.38805,0 0.52916,-0.17639 0.52916,-0.66146 z m -78.713536,-1.05834 c 0,-0.47961 -0.201856,-0.53632 -2.155462,-0.60557 l -2.15546,-0.0764 0.03879,0.68112 c 0.03865,0.67855 0.04681,0.68084 2.155462,0.60557 1.915094,-0.0684 2.116667,-0.12594 2.116667,-0.60472 z m 78.673886,-0.28087 c 0.051,-0.0444 0.004,-0.22492 -0.1053,-0.40107 -0.14665,-0.23728 -0.98399,-0.27538 -3.23141,-0.14702 -3.0817,0.17601 -3.82379,0.33477 -3.24289,0.69378 0.28791,0.17794 6.36277,0.0434 6.5796,-0.14569 z m -58.962428,-9.641 v -9.78958 h -7.805208 -7.805208 v 9.78958 9.78958 h 7.805208 7.805208 z m -13.573675,8.11735 c 0.08276,-0.13391 0.150482,-0.81016 0.150482,-1.50277 0,-0.69261 -0.06772,-1.36885 -0.150482,-1.50276 -0.08643,-0.13985 0.679638,-0.24349 1.799717,-0.24349 1.120079,0 1.886143,0.10364 1.799717,0.24349 -0.08276,0.13391 -0.150482,0.81015 -0.150482,1.50276 0,0.69261 0.06772,1.36886 0.150482,1.50277 0.08643,0.13984 -0.679638,0.24348 -1.799717,0.24348 -1.120079,0 -1.886143,-0.10364 -1.799717,-0.24348 z m 2.461175,-0.39152 c 0,-0.48978 -0.619942,-0.83612 -0.972663,-0.54339 -0.541986,0.44981 -0.416174,0.75506 0.311205,0.75506 0.363802,0 0.661458,-0.0952 0.661458,-0.21167 z m -1.39851,-1.56482 c -0.428374,-0.42837 -0.453573,-0.40317 -0.453573,0.45357 0,0.85675 0.02519,0.88195 0.453573,0.45357 0.428371,-0.42837 0.428371,-0.47877 0,-0.90714 z m 1.927677,0.39687 c 0,-0.79322 -0.02962,-0.82081 -0.440293,-0.41015 -0.363715,0.36372 -0.381087,0.51163 -0.09989,0.85045 0.477538,0.5754 0.540186,0.52433 0.540186,-0.4403 z m -0.529167,-1.03403 c 0,-0.1277 -0.297656,-0.23218 -0.661458,-0.23218 -0.719307,0 -0.837314,0.24747 -0.350253,0.73453 0.324446,0.32445 1.011711,-0.0168 1.011711,-0.50235 z m 5.740885,2.32896 c 0.08875,-0.1436 0.161358,-0.7008 0.161358,-1.23823 0,-0.53742 -0.07261,-1.09462 -0.161358,-1.23822 -0.09972,-0.16135 0.486685,-0.26108 1.535157,-0.26108 1.048472,0 1.634879,0.0997 1.535158,0.26108 -0.08875,0.1436 -0.161359,0.7008 -0.161359,1.23822 0,0.53743 0.07261,1.09463 0.161359,1.23823 0.09972,0.16135 -0.486686,0.26108 -1.535158,0.26108 -1.048472,0 -1.634879,-0.0997 -1.535157,-0.26108 z m 1.881319,-0.46432 c -0.05214,-0.15644 -0.207917,-0.28443 -0.346162,-0.28443 -0.138245,0 -0.294018,0.12799 -0.346162,0.28443 -0.05215,0.15643 0.103626,0.28443 0.346162,0.28443 0.242536,0 0.398309,-0.128 0.346162,-0.28443 z m -0.954704,-1.09141 c -0.246943,-0.24694 -0.3175,-0.17639 -0.3175,0.3175 0,0.49389 0.07056,0.56445 0.3175,0.3175 0.246944,-0.24694 0.246944,-0.38805 0,-0.635 z m 1.534584,0.26459 c 0,-0.42742 -0.07824,-0.50385 -0.294447,-0.28764 -0.161944,0.16194 -0.21445,0.42388 -0.116676,0.58208 0.273682,0.44283 0.411123,0.34439 0.411123,-0.29444 z m -0.529167,-0.75643 c 0,-0.13694 -0.178594,-0.24897 -0.396875,-0.24897 -0.409154,0 -0.525648,0.3122 -0.227679,0.61017 0.211383,0.21138 0.624554,-0.0276 0.624554,-0.3612 z m -10.987601,-3.17135 c -0.094,-0.1521 -0.170913,-1.33734 -0.170913,-2.63387 0,-1.29653 0.07691,-2.48177 0.170913,-2.63387 0.111311,-0.1801 2.420657,-0.27655 6.621976,-0.27655 4.201319,0 6.510666,0.0965 6.621976,0.27655 0.094,0.1521 0.170913,1.33734 0.170913,2.63387 0,1.29653 -0.07691,2.48177 -0.170913,2.63387 -0.11131,0.1801 -2.420657,0.27655 -6.621976,0.27655 -4.201319,0 -6.510665,-0.0965 -6.621976,-0.27655 z m 12.943668,-0.67114 c 0.208153,-0.54244 0.208153,-3.38302 0,-3.92547 -0.140083,-0.36505 -0.947655,-0.41851 -6.321692,-0.41851 -6.992146,0 -6.482292,-0.18729 -6.482292,2.38125 0,2.56854 -0.509854,2.38125 6.482292,2.38125 5.374037,0 6.181609,-0.0535 6.321692,-0.41852 z m -3.675859,-8.57731 v -1.25677 h 1.322917 1.322917 v 1.25677 1.25677 h -1.322917 -1.322917 z m 1.719792,0.67707 c 0,-0.27926 -0.507764,-0.39659 -0.658791,-0.15222 -0.0914,0.14789 0.01942,0.2689 0.2463,0.2689 0.22687,0 0.412491,-0.0525 0.412491,-0.11668 z m -0.132292,-1.20624 c 0.08994,-0.14552 -0.02913,-0.26458 -0.264583,-0.26458 -0.235458,0 -0.35452,0.11906 -0.264583,0.26458 0.08994,0.14552 0.208999,0.26458 0.264583,0.26458 0.05558,0 0.174646,-0.11906 0.264583,-0.26458 z m -9.260416,0.52917 c 0,-0.97014 0.01357,-0.98274 1.058333,-0.98274 1.044766,0 1.058333,0.0126 1.058333,0.98274 0,0.97014 -0.01357,0.98274 -1.058333,0.98274 -1.044765,0 -1.058333,-0.0126 -1.058333,-0.98274 z m -11.75027,14.75052 c 0.01302,-0.1819 0.03026,-5.42065 0.03829,-11.64167 l 0.01461,-11.310935 h 2.228064 c 1.225434,0 2.45836,0.123251 2.739835,0.273892 0.535715,0.286707 0.704567,1.427803 0.252608,1.707133 -0.163179,0.10085 -0.139607,0.35162 0.06365,0.67707 0.254023,0.40676 0.254023,0.62705 0,1.03381 -0.177546,0.28429 -0.218094,0.58161 -0.0901,0.66071 0.303355,0.18749 0.303355,3.27811 0,3.4656 -0.12799,0.0791 -0.08744,0.37642 0.0901,0.66072 0.254023,0.40675 0.254023,0.62704 0,1.0338 -0.177546,0.28429 -0.218094,0.58162 -0.0901,0.66072 0.127989,0.0791 0.232706,0.85886 0.232706,1.73279 0,0.87394 -0.104717,1.6537 -0.232706,1.7328 -0.12799,0.0791 -0.08744,0.37642 0.0901,0.66072 0.254023,0.40676 0.254023,0.62704 0,1.0338 -0.177546,0.28429 -0.218094,0.58162 -0.0901,0.66072 0.127989,0.0791 0.232706,0.85886 0.232706,1.7328 0,0.87393 -0.104717,1.65369 -0.232706,1.73279 -0.12799,0.0791 -0.08744,0.37643 0.0901,0.66072 0.247747,0.39671 0.250896,0.63205 0.01355,1.01212 -0.170098,0.27236 -0.20882,0.59978 -0.08605,0.7276 0.122769,0.12781 0.276616,0.53005 0.341881,0.89385 0.06526,0.3638 0.125479,-5.3512 0.133808,-12.7 l 0.01513,-13.361456 -0.533593,1.531149 c -0.40835,1.171768 -0.636328,1.501436 -0.971299,1.404553 -0.240739,-0.06963 -1.449739,-0.391226 -2.686666,-0.714663 -1.236927,-0.32344 -2.339581,-0.66511 -2.450338,-0.759269 -0.11076,-0.09416 0.03807,-0.86717 0.330729,-1.7178 0.292661,-0.850632 0.532111,-1.647026 0.532111,-1.769766 0,-0.12274 -0.416718,-0.223163 -0.926041,-0.223163 h -0.926042 v 14.419785 14.4198 h 0.926042 c 0.551809,0 0.935614,-0.13366 0.94973,-0.33073 z m 4.871103,-0.33073 c 0,-0.47878 -0.201573,-0.53636 -2.116667,-0.60472 -2.108655,-0.0753 -2.116812,-0.073 -2.155462,0.60557 l -0.03879,0.68112 2.15546,-0.0764 c 1.953606,-0.0692 2.155462,-0.12596 2.155462,-0.60557 z m 20.15127,-0.19844 c -0.0734,-0.1819 -0.133453,-0.0331 -0.133453,0.33073 0,0.3638 0.06006,0.51263 0.133453,0.33073 0.0734,-0.1819 0.0734,-0.47956 0,-0.66146 z m -20.018978,-1.78594 c 0,-0.48659 -0.17639,-0.52916 -2.192261,-0.52916 -2.015874,0 -2.192263,0.0426 -2.192263,0.52916 0,0.48659 0.176389,0.52917 2.192263,0.52917 2.015871,0 2.192261,-0.0426 2.192261,-0.52917 z m 20.018978,-0.59531 c -0.0734,-0.1819 -0.133453,-0.0331 -0.133453,0.33073 0,0.3638 0.06006,0.51263 0.133453,0.33073 0.0734,-0.1819 0.0734,-0.47956 0,-0.66146 z m -74.787728,-9.85573 c 0,-10.274648 -0.0089,-10.451038 -0.529167,-10.451038 -0.520236,0 -0.529167,0.17639 -0.529167,10.451038 0,10.27465 0.0089,10.45104 0.529167,10.45104 0.520236,0 0.529167,-0.17639 0.529167,-10.45104 z m 146.579164,7.27604 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -154.625137,2.3752 c 7.55948,-1.93326 13.250406,-7.62419 15.183663,-15.18367 0.294373,-1.15106 0.535223,-2.72864 0.535223,-3.505723 v -1.412885 h -10.31875 -10.31875 v 10.318748 10.31875 h 1.412885 c 0.777087,0 2.354665,-0.24085 3.505729,-0.53522 z m 49.453261,-1.18457 c 0,-0.47876 -0.201647,-0.53639 -2.116667,-0.60495 l -2.116666,-0.0758 v 0.68073 0.68072 l 2.116666,-0.0758 c 1.91502,-0.0686 2.116667,-0.12619 2.116667,-0.60494 z m 20.15127,-0.99219 c -0.0734,-0.1819 -0.133453,-0.0331 -0.133453,0.33073 0,0.3638 0.06006,0.51263 0.133453,0.33073 0.0734,-0.1819 0.0734,-0.47956 0,-0.66146 z m -20.15127,-0.8599 c 0,-0.47877 -0.201573,-0.53636 -2.116667,-0.60472 -2.108655,-0.0753 -2.116812,-0.073 -2.155462,0.60558 l -0.03879,0.68112 2.15546,-0.0764 c 1.953606,-0.0692 2.155462,-0.12596 2.155462,-0.60557 z m 20.15127,-1.52135 c -0.0734,-0.1819 -0.133453,-0.0331 -0.133453,0.33073 0,0.3638 0.06006,0.51263 0.133453,0.33073 0.0734,-0.1819 0.0734,-0.47956 0,-0.66146 z m -20.018978,-0.46302 c 0,-0.48659 -0.17639,-0.52917 -2.192261,-0.52917 -2.015874,0 -2.192263,0.0426 -2.192263,0.52917 0,0.48659 0.176389,0.52917 2.192263,0.52917 2.015871,0 2.192261,-0.0426 2.192261,-0.52917 z m 91.810414,-3.96875 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -85.020606,2.05052 c -0.0734,-0.1819 -0.133453,-0.0331 -0.133453,0.33073 0,0.3638 0.06006,0.51263 0.133453,0.33073 0.0734,-0.1819 0.0734,-0.47956 0,-0.66146 z m -20.15127,-0.0662 c 0,-0.47875 -0.201647,-0.53638 -2.116667,-0.60494 l -2.116666,-0.0758 v 0.68072 0.68073 l 2.116666,-0.0758 c 1.91502,-0.0686 2.116667,-0.12619 2.116667,-0.60495 z m 0,-1.85208 c 0,-0.47877 -0.201573,-0.53636 -2.116667,-0.60472 -2.108655,-0.0753 -2.116812,-0.073 -2.155462,0.60557 l -0.03879,0.68113 2.15546,-0.0764 c 1.953606,-0.0692 2.155462,-0.12596 2.155462,-0.60557 z m 20.15127,-0.46302 c -0.0734,-0.1819 -0.133453,-0.0331 -0.133453,0.33073 0,0.3638 0.06006,0.51263 0.133453,0.33073 0.0734,-0.1819 0.0734,-0.47956 0,-0.66146 z m -20.018978,-1.52135 c 0,-0.48659 -0.17639,-0.52917 -2.192261,-0.52917 -2.015874,0 -2.192263,0.0426 -2.192263,0.52917 0,0.48659 0.176389,0.52916 2.192263,0.52916 2.015871,0 2.192261,-0.0426 2.192261,-0.52916 z m 20.018978,-0.8599 c -0.0734,-0.1819 -0.133453,-0.0331 -0.133453,0.33073 0,0.3638 0.06006,0.51263 0.133453,0.33073 0.0734,-0.1819 0.0734,-0.47956 0,-0.66146 z m -20.15127,-1.12448 c 0,-0.47875 -0.201647,-0.53638 -2.116667,-0.60494 l -2.116666,-0.0758 v 0.68072 0.68072 l 2.116666,-0.0758 c 1.91502,-0.0686 2.116667,-0.12618 2.116667,-0.60494 z m 91.942706,-2.77812 v -3.175002 h -6.48229 -6.48229 v 3.175002 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175002 h -6.48229 -6.4823 v 3.175002 3.175 h 6.4823 6.48229 z m -85.020606,1.52135 c -0.0734,-0.1819 -0.133453,-0.0331 -0.133453,0.33073 0,0.3638 0.06006,0.51263 0.133453,0.33073 0.0734,-0.1819 0.0734,-0.47956 0,-0.66146 z m -20.15127,-0.59531 c 0,-0.47878 -0.201573,-0.53636 -2.116667,-0.60472 -2.108655,-0.0753 -2.116812,-0.073 -2.155462,0.60557 l -0.03879,0.68112 2.15546,-0.0764 c 1.953606,-0.0692 2.155462,-0.12596 2.155462,-0.60557 z M 130.02704,98.0981 v -5.159375 h -26.9875 -26.987498 v 5.159375 5.15937 h 26.987498 26.9875 z m -57.679164,3.57187 c 0,-0.48659 -0.17639,-0.52916 -2.192261,-0.52916 -2.015874,0 -2.192263,0.0426 -2.192263,0.52916 0,0.48659 0.176389,0.52917 2.192263,0.52917 2.015871,0 2.192261,-0.0426 2.192261,-0.52917 z M 72.215584,99.6856 c 0,-0.478755 -0.201647,-0.536384 -2.116667,-0.604943 l -2.116666,-0.07578 v 0.680723 0.68072 l 2.116666,-0.0758 c 1.91502,-0.0686 2.116667,-0.12618 2.116667,-0.60494 z m 91.942706,-3.571875 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z M 72.45032,95.417302 c 0.162708,-0.515609 -7.94e-4,-0.612423 -1.898449,-1.124479 -2.823033,-0.761736 -2.842395,-0.757915 -3.233203,0.637916 -0.184513,0.659016 -0.274482,1.259207 -0.19993,1.333759 0.07455,0.07455 1.132777,0.408538 2.351614,0.74219 l 2.216065,0.606642 0.292934,-0.815924 c 0.161113,-0.448758 0.373049,-1.069803 0.470969,-1.380104 z m 0.612645,-2.380798 c -0.06516,-0.06516 -1.234982,-0.08404 -2.599597,-0.04196 l -2.481117,0.07652 2.513541,0.661458 2.513542,0.661459 0.08605,-0.619501 c 0.04733,-0.340725 0.03274,-0.672817 -0.03242,-0.737979 z m 34.539245,-1.02377 c -0.0896,-0.468601 -0.29745,-0.661459 -0.71296,-0.661459 -0.32258,0 -0.6617,0.07519 -0.7536,0.167079 -0.32762,0.327623 0.37284,1.155838 0.97755,1.155838 0.51382,0 0.59458,-0.109236 0.48901,-0.661458 z m 2.34557,-0.06615 c 0.20331,-0.55404 0.14568,-0.595313 -0.83135,-0.595313 -0.84161,0 -1.04981,0.0962 -1.04981,0.485069 0,0.669917 0.26748,0.87549 1.01989,0.783849 0.38104,-0.04641 0.73179,-0.320728 0.86127,-0.673605 z m 1.76536,0.192434 c 0.27834,-0.445696 0.26686,-0.56102 -0.0686,-0.689766 -0.59074,-0.226687 -1.10326,0.04561 -1.26742,0.673378 -0.1134,0.433644 -0.0217,0.551558 0.4288,0.551558 0.31518,0 0.72345,-0.240826 0.90727,-0.53517 z m 9.38282,-0.126288 c -0.0896,-0.468601 -0.29745,-0.661459 -0.71296,-0.661459 -0.32258,0 -0.6617,0.07519 -0.7536,0.167079 -0.32762,0.327623 0.37284,1.155838 0.97755,1.155838 0.51382,0 0.59458,-0.109236 0.48901,-0.661458 z m 2.34557,-0.06615 c 0.20331,-0.55404 0.14568,-0.595313 -0.83135,-0.595313 -0.84161,0 -1.04981,0.0962 -1.04981,0.485069 0,0.669917 0.26748,0.87549 1.01989,0.783849 0.38104,-0.04641 0.73179,-0.320728 0.86127,-0.673605 z m 1.76536,0.192434 c 0.27834,-0.445696 0.26686,-0.56102 -0.0687,-0.689766 -0.59074,-0.226687 -1.10326,0.04561 -1.26742,0.673378 -0.1134,0.433644 -0.0217,0.551558 0.4288,0.551558 0.31518,0 0.72345,-0.240826 0.90727,-0.53517 z m 38.9514,-2.63983 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -63.96309,1.176102 c 0.10866,-0.406696 -2.9288,-0.691838 -5.66655,-0.531947 -2.6172,0.152849 -3.64272,0.36241 -3.17813,0.649435 0.42872,0.264856 8.77214,0.154025 8.84468,-0.117488 z m 13.49375,0 c 0.10866,-0.406696 -2.9288,-0.691838 -5.66655,-0.531947 -2.6172,0.152849 -3.64272,0.36241 -3.17813,0.649435 0.42872,0.264856 8.77214,0.154025 8.84468,-0.117488 z M 17.579126,71.639818 c 0,-15.566318 -0.0059,-15.742708 -0.529167,-15.742708 -0.523238,0 -0.529167,0.17639 -0.529167,15.742708 0,15.566318 0.0059,15.742708 0.529167,15.742708 0.523238,0 0.529167,-0.17639 0.529167,-15.742708 z m 1.322916,0 c 0,-15.566318 -0.0059,-15.742708 -0.529166,-15.742708 -0.523238,0 -0.529167,0.17639 -0.529167,15.742708 0,15.566318 0.0059,15.742708 0.529167,15.742708 0.523237,0 0.529166,-0.17639 0.529166,-15.742708 z M 164.15829,82.884609 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -13.22917,-6.614583 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -13.22917,-6.614583 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z M 164.15829,63.04086 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -13.22917,-6.614583 v -3.175 h -6.48229 -6.48229 v 3.175 3.175 h 6.48229 6.48229 z m 13.22917,0 v -3.175 h -6.48229 -6.4823 v 3.175 3.175 h 6.4823 6.48229 z m -43.39167,-8.598958 v -5.159375 h -3.175 -3.175 v 5.159375 5.159375 h 3.175 3.175 z m 6.61458,0 v -5.159375 h -3.175 -3.175 v 5.159375 5.159375 h 3.175 3.175 z m 5.25592,2.943849 1.35867,-2.215525 v -2.94385 -2.943849 h -3.175 -3.175 v 5.159375 5.159375 h 1.81633 1.81634 z m 1.35867,0.583927 c 0,-0.897376 -0.0451,-1.581986 -0.10029,-1.521354 -0.0551,0.06063 -0.53506,0.794854 -1.06646,1.631598 l -0.96618,1.521355 h 1.06646 1.06647 z m 3.9647,-3.197047 c -0.003,-3.304453 -0.0875,-4.703368 -0.26827,-4.431771 -0.14533,0.218281 -0.97694,1.540365 -1.84804,2.93796 -1.55053,2.487694 -1.58381,2.580812 -1.58381,4.431771 v 1.890686 h 1.85208 1.85209 l -0.004,-4.828646 z m 26.46238,-5.622396 V 32.084611 h -13.09687 -13.09688 v 10.451041 10.451042 h 13.09688 13.09687 z m -28.08152,2.315104 1.36223,-2.182812 h -1.72161 -1.7216 v 2.704706 c 0,3.063655 -0.18573,3.110235 2.08098,-0.521894 z m -122.850704,-1.7775 c 0.178551,-1.190672 -0.244953,-3.051145 -0.694543,-3.051145 -0.134235,0 -0.244064,0.109926 -0.244064,0.244282 0,0.134358 -0.312133,0.615232 -0.69363,1.068617 -0.597126,0.709642 -0.668995,0.978387 -0.516568,1.931617 0.09738,0.609005 0.376973,1.328185 0.621309,1.598171 0.431587,0.476898 0.457205,0.474884 0.898941,-0.07064 0.250082,-0.308838 0.532932,-1.083247 0.628555,-1.720906 z m -3.829477,-0.625419 c 0.649814,-0.412099 1.523055,-1.15521 1.940535,-1.651357 l 0.759055,-0.902086 -1.143407,-0.195195 c -0.992394,-0.169414 -1.262293,-0.104516 -2.043553,0.49138 -0.922663,0.703749 -1.910674,2.086133 -1.912438,2.675802 -0.0017,0.567251 1.16669,0.363477 2.399808,-0.418544 z m 8.880833,0.351806 c 0.257538,-0.671132 -0.144248,-1.699821 -1.049909,-2.688066 l -0.864209,-0.943015 -1.442608,0.489478 c -0.793438,0.269212 -1.494407,0.522979 -1.557711,0.563924 -0.225078,0.145576 1.929842,2.161413 2.735437,2.558888 1.049396,0.517763 1.984433,0.525828 2.179,0.01879 z M 133.99579,37.243986 v -5.159375 h -3.175 -3.175 v 5.159375 5.159375 h 3.175 3.175 z m 6.61458,0 v -5.159375 h -3.175 -3.175 v 5.159375 5.159375 h 3.175 3.175 z m 6.61459,2.215525 v -2.94385 l -1.35867,-2.215525 -1.35866,-2.215525 h -1.81634 -1.81633 v 5.159375 5.159375 h 3.175 3.175 z m 2.34556,0.761037 c -2.26671,-3.632127 -2.08098,-3.585549 -2.08098,-0.521892 v 2.704705 h 1.7216 1.72161 z m 1.62319,-3.373437 v -4.7625 h -1.85209 -1.85208 v 1.895162 c 0,1.87917 0.015,1.919358 1.78232,4.7625 0.98028,1.577036 1.81372,2.867338 1.85209,2.867338 0.0384,0 0.0698,-2.143125 0.0698,-4.7625 z M 29.563444,38.658108 c 1.260506,-0.641483 3.096932,-2.282754 3.096932,-2.767826 0,-0.532182 -1.501646,-0.453508 -2.826724,0.148098 -0.713311,0.323854 -1.265042,0.815734 -1.551559,1.383252 -0.244546,0.484378 -0.746477,1.203422 -1.115404,1.597877 l -0.670777,0.71719 1.031711,-0.283795 c 0.567441,-0.156087 1.483561,-0.513745 2.035821,-0.794796 z m -5.393746,-0.4753 c -0.277835,-0.575053 -0.505156,-1.236592 -0.505156,-1.470085 0,-0.502848 -1.788197,-1.352026 -3.384677,-1.607313 -1.09683,-0.17539 -1.113239,-0.166496 -1.113239,0.603431 0,1.114305 1.39248,2.268414 3.719744,3.08298 1.75439,0.614055 1.851894,0.567783 1.283328,-0.609013 z m 2.735802,0.317949 c 1.154907,-1.210608 1.726801,-3.505729 0.873549,-3.505729 -0.723056,0 -2.262423,2.637215 -2.262423,3.87594 0,0.581619 0.644806,0.409743 1.388874,-0.370211 z m -1.001232,-3.547766 c -0.0878,-0.399775 -0.401705,-1.034592 -0.697556,-1.410705 -0.425623,-0.541092 -0.615112,-0.619769 -0.907748,-0.376903 -0.506499,0.420357 -0.47174,2.494647 0.06837,4.079769 l 0.438203,1.286055 0.629191,-1.425676 c 0.414059,-0.938212 0.574605,-1.674205 0.469545,-2.15254 z m 121.320692,-1.28088 v -1.5875 h -1.05924 -1.05923 l 0.99234,1.5875 c 0.54578,0.873125 1.02244,1.5875 1.05923,1.5875 0.0368,0 0.0669,-0.714375 0.0669,-1.5875 z m -46.30208,-2.38125 c 0,-0.52204 -0.17639,-0.529167 -13.096879,-0.529167 -12.920485,0 -13.096875,0.0071 -13.096875,0.529167 0,0.52204 0.17639,0.529167 13.096875,0.529167 12.920489,0 13.096879,-0.0071 13.096879,-0.529167 z m 52.91666,0 c 0,-0.52204 -0.17639,-0.529167 -13.09687,-0.529167 -12.92049,0 -13.09688,0.0071 -13.09688,0.529167 0,0.52204 0.17639,0.529167 13.09688,0.529167 12.92048,0 13.09687,-0.0071 13.09687,-0.529167 z m -52.91666,-1.322917 c 0,-0.522039 -0.17639,-0.529166 -13.096879,-0.529166 -12.920485,0 -13.096875,0.0071 -13.096875,0.529166 0,0.52204 0.17639,0.529167 13.096875,0.529167 12.920489,0 13.096879,-0.0071 13.096879,-0.529167 z m 52.91666,0 c 0,-0.522039 -0.17639,-0.529166 -13.09687,-0.529166 -12.92049,0 -13.09688,0.0071 -13.09688,0.529166 0,0.52204 0.17639,0.529167 13.09688,0.529167 12.92048,0 13.09687,-0.0071 13.09687,-0.529167 z m 29.56262,232.118026 0.59075,-0.11406 -0.66135,-1.30511 c -0.49515,-0.97713 -0.56856,-1.30512 -0.29212,-1.30512 0.20308,0 0.53251,0.38696 0.73206,0.8599 0.31684,0.75089 0.3801,-0.71647 0.49906,-11.57552 l 0.13622,-12.43542 0.0791,12.43542 c 0.0742,11.66339 0.1057,12.38203 0.50709,11.57552 0.23537,-0.47294 0.58695,-0.8599 0.78128,-0.8599 0.25267,0 0.16325,0.37511 -0.31387,1.31667 l -0.66721,1.31666 4.56535,0.0791 c 4.47557,0.0775 4.45609,0.0795 -0.99089,0.10252 -3.05594,0.0129 -5.29042,-0.0279 -4.96551,-0.0906 z m 0.86446,-26.80137 c 0,-0.14552 -0.17859,-0.26458 -0.39687,-0.26458 -0.51271,0 -0.50292,-0.38594 0.0304,-1.19993 0.57229,-0.87344 1.15241,-0.83668 1.19089,0.0755 0.0189,0.44765 0.0772,0.54945 0.15169,0.26458 0.0917,-0.35084 0.39791,-0.46302 1.26392,-0.46302 1.17674,0 1.46411,0.2639 1.46411,1.34456 0,0.7882 -0.74466,0.59958 -0.86883,-0.22008 l -0.11022,-0.7276 -0.0396,0.7276 c -0.0495,0.90877 -0.56881,0.96916 -0.56881,0.0661 0,-0.36381 -0.11906,-0.66146 -0.26458,-0.66146 -0.14552,0 -0.26459,0.29765 -0.26459,0.66146 0,0.69193 -0.38887,0.89986 -0.61852,0.33073 -0.10676,-0.26459 -0.13763,-0.26459 -0.15434,0 -0.0246,0.38985 -0.81464,0.45399 -0.81464,0.0661 z m 0.0453,-15.08125 c -0.0742,-11.78529 -0.10581,-12.51417 -0.50712,-11.70781 -0.23538,0.47294 -0.58696,0.8599 -0.78129,0.8599 -0.25309,0 -0.1657,-0.37027 0.30802,-1.30512 l 0.66135,-1.30511 -0.59075,-0.11406 c -0.32491,-0.0627 1.90957,-0.10352 4.96551,-0.0906 5.44698,0.023 5.46646,0.025 0.99089,0.10252 l -4.56535,0.0791 0.66721,1.31666 c 0.49874,0.98421 0.57397,1.31667 0.29797,1.31667 -0.20308,0 -0.53251,-0.38696 -0.73206,-0.8599 -0.31674,-0.75066 -0.38013,0.73662 -0.49902,11.70781 l -0.13618,12.56771 z M 7.4601016,174.76159 l 4.5653504,-0.0791 -0.667203,-1.31666 c -0.477123,-0.94156 -0.566543,-1.31666 -0.313874,-1.31666 0.194331,0 0.545909,0.38695 0.781285,0.85989 0.401388,0.80651 0.43287,0.0879 0.507092,-11.57552 l 0.07914,-12.43541 0.136223,12.43541 c 0.118956,10.85905 0.182218,12.32642 0.499053,11.57552 0.199555,-0.47294 0.528983,-0.85989 0.732061,-0.85989 0.276441,0 0.203029,0.32799 -0.292118,1.30511 l -0.661351,1.30511 0.590748,0.11407 c 0.324911,0.0627 -1.909565,0.10351 -4.9655021,0.0906 -5.4469798,-0.023 -5.466467,-0.025 -0.9908993,-0.10251 z M 9.6416259,147.9721 c 0,-0.14552 -0.238125,-0.26458 -0.5291667,-0.26458 -0.6583336,0 -0.6640214,-0.4787 -0.014933,-1.25677 0.6660856,-0.79844 1.0667228,-0.75043 1.1039578,0.13229 0.01994,0.47273 0.074,0.56065 0.154311,0.25099 0.100862,-0.38888 0.350921,-0.46194 1.35837,-0.39688 1.180399,0.0762 1.238402,0.1176 1.317661,0.93964 0.04657,0.48301 -0.0404,0.8599 -0.198437,0.8599 -0.154741,0 -0.281347,-0.2311 -0.281347,-0.51355 0,-0.28246 -0.119062,-0.58714 -0.264583,-0.67708 -0.15006,-0.0927 -0.264583,0.12955 -0.264583,0.51355 0,0.37239 -0.119063,0.67708 -0.264584,0.67708 -0.14552,0 -0.264583,-0.30469 -0.264583,-0.67708 0,-0.384 -0.114523,-0.60629 -0.264583,-0.51355 -0.145521,0.0899 -0.264583,0.39462 -0.264583,0.67708 0,0.57313 -0.411902,0.69487 -0.618522,0.18282 -0.106762,-0.26458 -0.13763,-0.26458 -0.15434,0 -0.02464,0.39014 -0.550055,0.45332 -0.550055,0.0661 z M 12.33279,132.89086 c -0.07424,-11.7853 -0.105816,-12.51418 -0.50713,-11.70782 -0.235376,0.47295 -0.586954,0.8599 -0.781285,0.8599 -0.252669,0 -0.163249,-0.37511 0.313874,-1.31667 l 0.667203,-1.31666 -4.5653504,-0.0791 c -4.4755677,-0.0775 -4.4560805,-0.0795 0.9908993,-0.10251 3.0559371,-0.0129 5.2904131,0.0279 4.9655021,0.0906 l -0.590748,0.11406 0.661351,1.30512 c 0.495147,0.97712 0.568559,1.30511 0.292118,1.30511 -0.203078,0 -0.532506,-0.38695 -0.732061,-0.8599 -0.316737,-0.75066 -0.380129,0.73663 -0.499014,11.70782 l -0.136185,12.5677 z m 185.79437,-4.34862 c -0.11649,-0.30358 -0.45797,-0.39857 -1.25559,-0.34929 -1.08859,0.0673 -1.09557,0.0618 -1.09557,-0.85834 0,-0.81355 0.0884,-0.93622 0.7276,-1.00977 0.40019,-0.046 0.72761,-0.19487 0.72761,-0.33072 0,-0.13586 0.17859,-0.24701 0.39687,-0.24701 0.21828,0 0.39688,0.15797 0.39688,0.35105 0,0.24108 0.2536,0.31382 0.80956,0.23223 l 0.80957,-0.11882 -0.082,1.28912 c -0.0704,1.10642 -0.1665,1.30113 -0.67846,1.37383 -0.35856,0.0509 -0.66032,-0.0816 -0.75651,-0.33228 z m 0.95613,-1.33993 c 0,-0.21828 -0.11906,-0.39687 -0.26458,-0.39687 -0.14552,0 -0.26459,0.17859 -0.26459,0.39687 0,0.21828 0.11907,0.39688 0.26459,0.39688 0.14552,0 0.26458,-0.1786 0.26458,-0.39688 z m 2.78531,0.8599 c -0.0597,-0.1819 -0.16119,-0.56885 -0.22558,-0.8599 -0.0856,-0.38697 -0.12534,-0.33365 -0.14779,0.19844 -0.0383,0.90868 -0.55986,0.97029 -0.55986,0.0661 0,-0.36381 -0.11906,-0.66146 -0.26458,-0.66146 -0.14552,0 -0.26458,0.29765 -0.26458,0.66146 0,0.3638 -0.11907,0.66146 -0.26459,0.66146 -0.14552,0 -0.26458,-0.59532 -0.26458,-1.32292 0,-0.72761 0.11906,-1.32292 0.26458,-1.32292 0.14552,0 0.26459,0.1786 0.26459,0.39688 0,0.48648 1.22608,0.54453 1.39693,0.0661 0.22068,-0.61789 0.52901,0.0475 0.57909,1.2497 0.0462,1.10961 -0.26287,1.63135 -0.51363,0.86697 z m -8.07698,-1.25677 c 0,-0.72761 0.11907,-1.32292 0.26459,-1.32292 0.14552,0 0.26458,0.1786 0.26458,0.39688 0,0.22048 0.23519,0.39687 0.52917,0.39687 0.42837,0 0.52916,0.17639 0.52916,0.92604 0,0.50933 -0.11906,0.92605 -0.26458,0.92605 -0.14552,0 -0.26458,-0.30469 -0.26458,-0.67708 0,-0.384 -0.11453,-0.60629 -0.26459,-0.51355 -0.14552,0.0899 -0.26458,0.39462 -0.26458,0.67707 0,0.28246 -0.11906,0.51356 -0.26458,0.51356 -0.14552,0 -0.26459,-0.59532 -0.26459,-1.32292 z m 9.525,0.94104 c 0,-0.21003 0.26071,-0.56448 0.57935,-0.78766 0.31864,-0.22319 0.49077,-0.49438 0.38249,-0.60265 -0.10827,-0.10828 -0.30297,-0.0252 -0.43267,0.18469 -0.29543,0.47801 -0.64958,0.16625 -0.43786,-0.38547 0.17101,-0.44567 1.49619,-0.57294 1.49619,-0.1437 0,0.14552 0.58258,0.26458 1.29461,0.26458 1.33812,0 1.61581,0.23107 1.61581,1.34456 0,0.7882 -0.74466,0.59958 -0.86883,-0.22008 l -0.11022,-0.7276 -0.0396,0.7276 c -0.0495,0.90877 -0.56881,0.96916 -0.56881,0.0661 0,-0.36381 -0.11906,-0.66146 -0.26458,-0.66146 -0.14552,0 -0.26459,0.29765 -0.26459,0.66146 0,0.60756 -0.097,0.66146 -1.19062,0.66146 -0.86116,0 -1.19063,-0.10568 -1.19063,-0.38188 z m 1.85209,-0.57656 c 0,-0.35158 -0.0718,-0.36966 -0.39688,-0.0999 -0.21828,0.18116 -0.39687,0.37433 -0.39687,0.42927 0,0.055 0.17859,0.0999 0.39687,0.0999 0.21828,0 0.39688,-0.19317 0.39688,-0.42927 z M 7.4601016,90.094925 12.025452,90.015852 11.358249,88.69919 c -0.477123,-0.941557 -0.566543,-1.316664 -0.313874,-1.316664 0.194331,0 0.545909,0.386953 0.781285,0.859895 0.40117,0.806075 0.432917,0.05671 0.507205,-11.972395 l 0.07925,-12.832291 0.13611,12.832291 c 0.118748,11.195462 0.182391,12.722606 0.498939,11.972395 0.199555,-0.472942 0.528983,-0.859895 0.732061,-0.859895 0.276441,0 0.203029,0.327988 -0.292118,1.305112 l -0.661351,1.305113 0.590748,0.114065 c 0.324911,0.06274 -1.909565,0.103515 -4.9655021,0.09062 -5.4469798,-0.02298 -5.466467,-0.025 -0.9908993,-0.102513 z M 6.9957925,62.511693 c 0,-0.145521 -0.238125,-0.264583 -0.5291666,-0.264583 -0.2910417,0 -0.5252056,-0.148828 -0.5203643,-0.330729 0.011261,-0.423066 0.9211257,-1.521354 1.2603491,-1.521354 0.2901622,0 0.5811483,1.540353 0.3873611,2.05052 -0.1496444,0.393957 -0.5981793,0.443556 -0.5981793,0.06615 z m 0.79375,0 c 0,-0.145521 0.1772328,-0.264583 0.3938506,-0.264583 0.4512802,0 1.4582328,-0.793785 1.4582328,-1.149533 0,-0.130998 -0.1814711,-0.08757 -0.403269,0.09651 -0.4877445,0.404791 -0.7285815,0.229555 -0.5006932,-0.364313 0.1806712,-0.47082 1.1717541,-0.588137 1.5786493,-0.186864 0.138245,0.136334 0.787136,0.285162 1.441979,0.330729 1.129808,0.07862 1.19486,0.126772 1.273535,0.942745 0.04657,0.483012 -0.0404,0.859895 -0.198438,0.859895 -0.154741,0 -0.281347,-0.231097 -0.281347,-0.51355 0,-0.282454 -0.119062,-0.587137 -0.264583,-0.677074 -0.15006,-0.09274 -0.264583,0.129545 -0.264583,0.51355 0,0.372391 -0.119063,0.677074 -0.264584,0.677074 -0.14552,0 -0.264583,-0.304683 -0.264583,-0.677074 0,-0.384005 -0.114523,-0.606292 -0.264583,-0.51355 -0.145521,0.08994 -0.264583,0.39462 -0.264583,0.677074 0,0.451283 -0.192479,0.51355 -1.5875005,0.51355 -0.8819443,0 -1.5875,-0.117591 -1.5875,-0.264583 z m 2.6417815,-0.727604 c -0.0023,-0.264234 -0.08883,-0.34943 -0.201515,-0.198437 -0.108605,0.14552 -0.3052197,0.35388 -0.4369208,0.46302 -0.1317012,0.109141 -0.041019,0.198438 0.2015154,0.198438 0.2451284,0 0.4391724,-0.205637 0.4369204,-0.463021 z m 1.906805,-14.75052 -0.07406,-12.964583 -0.559773,1.058333 c -0.307875,0.582083 -0.607226,0.918399 -0.665225,0.747369 -0.058,-0.171031 0.142049,-0.796109 0.444552,-1.389063 l 0.550005,-1.078097 H 7.5303366 c -2.8258072,0 -4.5032941,-0.09856 -4.5032941,-0.264584 0,-0.167784 1.984375,-0.264583 5.4239584,-0.264583 3.4395831,0 5.4239581,0.0968 5.4239581,0.264583 0,0.145521 -0.240545,0.264584 -0.534544,0.264584 -0.533807,0 -0.533785,0.0015 0.01546,1.078097 0.302502,0.592954 0.49976,1.218032 0.43835,1.389063 -0.06141,0.17103 -0.336257,-0.151862 -0.610773,-0.717539 -0.498095,-1.026394 -0.499398,-1.001978 -0.635193,11.906249 l -0.136072,12.934754 z m 8.151413,-20.625092 -1.190625,-0.625138 -0.172063,0.570949 c -0.09464,0.314021 -0.15717,-1.929364 -0.138965,-4.985302 l 0.0331,-5.556249 0.07907,4.56535 0.07907,4.565351 1.316663,-0.667204 c 0.941556,-0.477122 1.316663,-0.566543 1.316663,-0.313874 0,0.194331 -0.386953,0.54591 -0.859896,0.781286 -0.798356,0.397329 0.960407,0.429167 24.575392,0.444877 25.219924,0.01678 25.436459,0.01244 25.573667,-0.512245 0.09351,-0.35758 0.360894,-0.529167 0.824608,-0.529167 0.377426,0 0.686229,0.119063 0.686229,0.264584 0,0.14552 0.595313,0.264583 1.322917,0.264583 0.727604,0 1.322916,0.119062 1.322916,0.264583 0,0.174683 8.697921,0.258834 25.598442,0.247662 23.76527,-0.01571 25.53686,-0.04757 24.73854,-0.444877 -0.47294,-0.235376 -0.8599,-0.586955 -0.8599,-0.781286 0,-0.252669 0.37511,-0.163248 1.31667,0.313874 l 1.31666,0.667204 0.0791,-4.565351 c 0.0775,-4.475567 0.0795,-4.45608 0.10252,0.990899 0.0129,3.055938 -0.0279,5.290414 -0.0906,4.965503 l -0.11406,-0.590748 -1.30511,0.66135 c -0.93485,0.473721 -1.30512,0.561109 -1.30512,0.308021 0,-0.194331 0.38696,-0.545909 0.8599,-0.781285 0.79832,-0.39731 -0.97327,-0.429168 -24.73854,-0.444878 -25.427693,-0.01681 -25.598442,-0.01339 -25.598442,0.512246 0,0.291041 -0.119062,0.529166 -0.264583,0.529166 -0.145521,0 -0.264583,-0.304683 -0.264583,-0.677073 0,-0.384008 -0.114522,-0.606294 -0.264584,-0.513552 -0.14552,0.08994 -0.264583,0.39462 -0.264583,0.677073 0,0.782075 -0.479049,0.612372 -0.604242,-0.214052 l -0.110223,-0.727604 -0.03964,0.694531 c -0.03118,0.546293 -0.208439,0.728291 -0.830498,0.852702 -1.026986,0.205398 -1.590395,-0.02469 -1.590395,-0.649499 0,-0.488071 -0.650192,-0.500427 -25.466146,-0.483938 -23.64341,0.01571 -25.404599,0.04755 -24.60625,0.444878 0.472943,0.235376 0.859896,0.584948 0.859896,0.776828 0,0.426645 0.108081,0.451169 -1.322917,-0.300178 z m 51.59375,-0.673866 c 0,-0.145521 -0.119062,-0.264583 -0.264583,-0.264583 -0.145521,0 -0.264583,0.119062 -0.264583,0.264583 0,0.145521 0.119062,0.264584 0.264583,0.264584 0.145521,0 0.264583,-0.119063 0.264583,-0.264584 z"
     id="path1506" />
  </g>
</svg>   <!-- </svg> -->
</div>
