<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> -->
  <!--   <mat-icon>menu</mat-icon> -->
  <!-- </button> -->


<button mat-icon-button [matMenuTriggerFor]="menu">
<mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button (click)="openConnectionDialog()" mat-menu-item>
    <mat-icon>lan</mat-icon>
    <span>Conexión</span>
  </button>

</mat-menu>

  <span>{{ pageName }}</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
  <!--   <mat-icon>favorite</mat-icon> -->
  <!-- </button> -->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
  <!--   <mat-icon>share</mat-icon> -->
  <!-- </button> -->
</mat-toolbar>
