<app-toolbar [pageName]="pageName"></app-toolbar>

<mat-card *ngIf="!connected" class="aviso-conexion">

  <mat-card-content>
    <p>No hay conexión con el broker...</p>
  <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="accent" (click)="openConnectionDialog()">Configurar conexión</button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<div id="map-viewer-app-container">
  <app-map-viewer [robots]="robots" [currRobot]="currRobot"></app-map-viewer>
</div>

<div class="robots">
  <mat-card
      *ngFor="let robot of robots"
      class="robot-card"
      (click)="goToRobot(robot)"
      matRipple
    >
    <mat-card-header>
      <mat-card-title>
        <span>
          <svg width="30" height="30">
            <circle cx="15"
              cy="15"
              r="12"
              stroke="black"
              stroke-width="3"
              [attr.fill]="robot.color"
            />
          </svg>
        </span>
        <span *ngIf="robot.failed" class="texto-advertencia failed-text">
          ¡Atascado!
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="barra-bat">
        <mat-progress-bar
          mode="determinate"
          [color]="robot.batt > 20 ? 'accent' : 'warn'"
          [value]="robot.batt"
        >
        </mat-progress-bar>
        <div>
          {{ robot.batt }}%
        </div>
      </div>
      <p [ngClass]="robot.failed ? 'failed-text' : ''">
        ({{ robot.x }}, {{ robot.y }})
      </p>
    </mat-card-content>
  </mat-card>
</div>
