#map-viewer-app-container {
  height: 75vh;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.robots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.robot-card {
  margin: 5px;
  min-width: 125px;
  flex: 1 1 0;
}

.robot-card:hover {
  cursor: pointer;
  filter: invert(0.2);
}

.barra-bat {
  display: flex;
}

.barra-bat > div {
  margin-left: 1em;
}

.aviso-conexion {
  margin: 2em;
}

.failed-text {
  color: hsl(0, 75%, 50%);
}

.texto-advertencia {
  font-size: 10pt;
}
