#form-container {
  width: 100%;
  min-width: 150px;
  /* max-width: 500px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


mat-form-field {
  margin: 5px;
  min-width: 250px;
  flex: 1 1 0;
}
