<form [formGroup]="connectionForm" (ngSubmit)="connect()">
  <h2 mat-dialog-title>Configuración de conexión</h2>
  <mat-dialog-content>
    <div id="form-container">
        <mat-form-field class="example-full-width">
          <mat-label>Hostname</mat-label>
          <input matInput
            formControlName="hostname"
            placeholder="Ej. 192.168.1.1">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Puerto</mat-label>
          <input matInput
             formControlName="port"
             placeholder="Ej. 9001">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Path</mat-label>
          <input matInput
          formControlName="path"
          placeholder="Ej. /"
          >
        </mat-form-field>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button
      color="accent"
      type="submit"
      [disabled]="!connectionForm.valid"
      >
      Conectar
    </button>
  </mat-dialog-actions>
</form>
